<div class="govuk-grid-row">
  <netz-page-heading [caption]="map.title" class="govuk-grid-column-three-quarters govuk-!-display-block">
    Check your answers
  </netz-page-heading>
  @if (isEditable()) {
    <div class="govuk-grid-column-one-quarter govuk-!-text-align-right govuk-body">
      <a [routerLink]="[wizardStep.LIST_OF_SHIPS]" [queryParams]="{ change: true }" govukLink>Change</a>
    </div>
  }
</div>

<mrtm-list-of-ships-summary-template [data]="ships()" editUrl="./ships" [queryParams]="{ change: true }" />

@if (isEditable() && !isSubTaskCompleted) {
  <button (click)="onSubmit()" govukButton type="button">Confirm and continue</button>
}
<div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
  <netz-return-to-task-or-action-page />
</div>
