@if (data(); as data) {
  <h3 class="govuk-heading-m">{{ header() }}</h3>
  <dl govuk-summary-list>
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey class="summary-label">
        Will you be making an emissions reduction claim relating to eligible fuels?
      </dt>
      <dd govukSummaryListRowValue [notProvided]="data?.exist | booleanToText"></dd>
      @if (editable()) {
        <dd govukSummaryListRowActions class="govuk-!-text-align-right">
          <a govukLink [routerLink]="[wizardStep().EXIST]" [queryParams]="queryParams()">Change</a>
        </dd>
      }
    </div>
  </dl>
}
