@if (account(); as account) {
  <h2 class="govuk-heading-m">Operator details</h2>
  <dl govuk-summary-list>
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>UK ETS Registry ID</dt>
      <dd govukSummaryListRowValue>{{ account?.registryId }}</dd>
    </div>
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Emissions plan ID</dt>
      <dd govukSummaryListRowValue>{{ account?.monitoringPlanId }}</dd>
    </div>
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Company IMO number</dt>
      <dd govukSummaryListRowValue>{{ account?.companyImoNumber }}</dd>
    </div>
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Operator name</dt>
      <dd govukSummaryListRowValue>{{ account?.accountName }}</dd>
    </div>
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>First year of reporting obligation</dt>
      <dd govukSummaryListRowValue>{{ account?.firstYearOfVerifiedEmissions }}</dd>
    </div>
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Regulator</dt>
      <dd govukSummaryListRowValue>{{ account?.competentAuthority | competentAuthority }}</dd>
    </div>
  </dl>

  <mrtm-registry-organisation-structure-summary-template [data]="organisationStructure()" />
}
