<dl govuk-summary-list>
  <div govukSummaryListRow>
    <dt govukSummaryListRowKey>Declaration of delegation of UK ETS responsibility</dt>
    <dd
      govukSummaryListRowValue
      htmlDiff
      [current]="mandate() | responsibilityDeclaration: operatorName()"
      [previous]="originalMandate() | responsibilityDeclaration: originalOperatorName()"></dd>
    @if (isEditable()) {
      <dd govukSummaryListRowActions>
        <a govukLink [routerLink]="[wizardStep()?.RESPONSIBILITY_DECLARATION]" [queryParams]="queryParams()">Change</a>
      </dd>
    }
  </div>
</dl>
