<div class="govuk-grid-row">
  <div class="govuk-!-width-two-thirds">
    <govuk-panel title="An account confirmation email has been sent to {{ userEmail$ | async }}" />
    <h3 class="govuk-heading-m">What happens next</h3>
    <p class="govuk-body">The new user will be able to sign in to the service once they confirm their account.</p>
  </div>
</div>
<div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" aria-hidden="true" />
  @if (verificationBodyId$ | async; as verificationBodyId) {
    <a fragment="contacts" govukLink [routerLink]="['/verification-bodies', verificationBodyId]">
      Return to: Verification body details
    </a>
  } @else {
    <a govukLink [routerLink]="['/user/verifiers']">Return to: Manage verifier users</a>
  }
</div>
