@if (aggregatedData()?.fromFetch) {
  <div class="govuk-inset-text">The aggregated data is calculated from voyages and ports of the ship.</div>
}

<div class="govuk-!-display-block govuk-!-margin-bottom-5">
  <mrtm-aer-aggregated-data-fuel-consumptions-summary-template
    [data]="aggregatedData()?.fuelConsumptions"
    [changeLink]="wizardStep.FUEL_CONSUMPTION"
    [queryParams]="{ change: true }"
    [editable]="editable()" />

  @if (editable() && ship()?.fuelsAndEmissionsFactors?.length > aggregatedData()?.fuelConsumptions?.length) {
    <button govukSecondaryButton type="button" [routerLink]="[wizardStep.FUEL_CONSUMPTION]">Add another fuel</button>
  }
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Annual aggregated emissions</h2>
  </div>
  @if (editable()) {
    <div class="govuk-grid-column-one-third">
      <div class="govuk-body float-right">
        <a govukLink [routerLink]="[wizardStep.ANNUAL_EMISSIONS]" [queryParams]="{ change: true }">
          Change
          <span class="govuk-visually-hidden">annual aggregated emissions</span>
        </a>
      </div>
    </div>
  }
</div>
<mrtm-aer-aggregated-data-emissions-calculations-summary-template
  class="govuk-!-display-block govuk-!-margin-bottom-8"
  [data]="annualEmissions()"
  [boldColumns]="['total']"
  [showSummaryComponents]="true"
  [showEmissionsColumnHeader]="true" />

<h2 class="govuk-heading-m">Emissions calculations</h2>
<mrtm-aer-aggregated-data-emissions-calculations-summary-template
  class="govuk-!-display-block govuk-!-margin-bottom-8"
  [boldColumns]="['total']"
  [data]="totalShipEmissionsData()" />
