<govuk-table id="registeredOwners" [columns]="columns" [data]="page()" emptyTableText="No items to display">
  <ng-template let-column="column" let-row="row">
    @switch (column.field) {
      @case ('name') {
        <p class="govuk-!-margin-0" htmlDiff [current]="row?.current?.name" [previous]="row?.previous?.name"></p>
        <span
          class="govuk-hint"
          htmlDiff
          [current]="row?.current?.imoNumber"
          [previous]="row?.previous?.imoNumber"></span>
      }
      @case ('contactName') {
        <p
          class="govuk-!-margin-0"
          htmlDiff
          [current]="row?.current?.contactName"
          [previous]="row?.previous?.contactName"></p>
        <span class="govuk-hint" htmlDiff [current]="row?.current?.email" [previous]="row?.previous?.email"></span>
      }
      @case ('ships') {
        <mrtm-summary-registered-owner-ship-details
          [registeredOwnerUniqueIdentifier]="row?.current?.uniqueIdentifier"
          [showDiff]="true"
          [shipDetails]="row?.current?.ships"
          [originalShipDetails]="row?.previous?.ships" />
      }
      @case ('effectiveDate') {
        <span
          htmlDiff
          [current]="row?.current?.effectiveDate | govukDate"
          [previous]="row?.previous?.effectiveDate | govukDate"></span>
      }
      @default {
        <span htmlDiff [current]="row?.current?.[column.field]" [previous]="row?.previous?.[column.field]"></span>
      }
    }
  </ng-template>
</govuk-table>
@if (totalItems() > pageSize) {
  <govuk-pagination
    fragment="registeredOwners"
    [count]="totalItems()"
    [pageSize]="pageSize"
    (currentPageChange)="onPageChange($event)" />
}
