<div class="govuk-grid-row">
  <div class="govuk-!-width-two-thirds">
    <govuk-panel title="The user account of {{ userInfo$ | async | userFullName }} has been deleted" />
  </div>
</div>
<div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" aria-hidden="true" />
  @if (verificationBodyId$ | async; as verificationBodyId) {
    <a fragment="contacts" govukLink [routerLink]="['/verification-bodies', verificationBodyId]">
      Return to: Verification body details
    </a>
  } @else {
    <a govukLink [routerLink]="['/user/verifiers']">Return to: Manage verifier users</a>
  }
</div>
