<div class="govuk-grid-row">
  <div class="govuk-!-width-two-thirds">
    <govuk-panel title="Operator account successfully created" />
    <h3 class="govuk-heading-m">What happens next</h3>
    <p class="govuk-body">You can now add a primary contact to the operator’s account.</p>
    <p class="govuk-body">To do this:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Find the account in the ‘Account search’ menu item above</li>
      <li>Select the ‘user and contacts’ menu item to add the user</li>
    </ul>
  </div>
</div>
<div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" aria-hidden="true" />
  <a govukLink routerLink="/accounts">Return to: Accounts</a>
</div>
