@if (vm(); as vm) {
  <netz-page-heading caption="Peer review response">Check your answers</netz-page-heading>
  <dl govuk-summary-list>
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Peer review decision</dt>
      <dd govukSummaryListRowValue>
        {{ vm.peerReviewDecision.accepted | peerReviewDecision }}
      </dd>
      <dd govukSummaryListRowActions>
        <a govukLink [routerLink]="['../']">Change</a>
      </dd>
    </div>
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Notes</dt>
      <dd govukSummaryListRowValue>{{ vm.peerReviewDecision.notes }}</dd>
      <dd govukSummaryListRowActions>
        <a govukLink [routerLink]="['../']">Change</a>
      </dd>
    </div>
  </dl>
  <button (click)="onSubmit()" netzPendingButton govukButton type="button">Confirm and complete</button>
  <div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
    <netz-return-to-task-or-action-page />
  </div>
}
