<dl govuk-summary-list>
  <div govukSummaryListRow>
    <dt govukSummaryListRowKey>
      Has the responsibility for compliance with UK ETS been delegated to you by a registered owner for one or more
      ships?
    </dt>
    <dd
      govukSummaryListRowValue
      htmlDiff
      [current]="mandate()?.exist | booleanToText"
      [previous]="originalMandate()?.exist | booleanToText"></dd>
    @if (isEditable()) {
      <dd govukSummaryListRowActions>
        <a govukLink [routerLink]="[wizardStep()?.RESPONSIBILITY]" [queryParams]="queryParams()">
          Change
          <span class="govuk-visually-hidden">
            whether the responsibility for compliance with UK ETS has been delegated by a registered owner for one or
            more ships
          </span>
        </a>
      </dd>
    }
  </div>
</dl>
