<dl govuk-summary-list>
  <div govukSummaryListRow>
    <dt govukSummaryListRowKey>
      Has the responsibility for compliance with UK ETS been delegated to you by one or more registered owners for one
      or more ships?
    </dt>
    <dd
      govukSummaryListRowValue
      htmlDiff
      [current]="mandate()?.exist | booleanToText"
      [previous]="originalMandate()?.exist | booleanToText"></dd>
    @if (isEditable()) {
      <dd govukSummaryListRowActions>
        <a govukLink [routerLink]="[wizardStep()?.RESPONSIBILITY]" [queryParams]="queryParams()">Change</a>
      </dd>
    }
  </div>
</dl>
