@use 'sass:string';
@use 'sass:list';

// Functions must be OUTSIDE the `with (...)` block
@function image-url($filename) {
  $filePaths: string.split($filename, '/');
  $filePath: list.nth($filePaths, list.length($filePaths));
  @return url('/maritime/assets/images/' + $filePath);
}

@function font-url($filename) {
  $filePaths: string.split($filename, '/');
  $filePath: list.nth($filePaths, list.length($filePaths));
  @return url('/maritime/assets/fonts/#{$filePath}');
}
