@use 'govuk-frontend/dist/govuk/index' as govuk;

ins.diffmod,
del.diffmod,
ins.diffins,
del.diffdel {
  margin-top: -2px;
  margin-bottom: -3px;
  padding: 2px 8px 3px;
  border-radius: 1px;
}

del.diffmod + ins.diffmod,
del.diffdel + ins.diffins {
  margin-left: 10px;
}

ins.diffmod,
ins.diffins {
  text-decoration: none;
  color: govuk.govuk-colour("green", $variant: "shade-50");
  background-color: govuk.govuk-colour("green", $variant: "tint-80");
}

del.diffmod,
del.diffdel {
  color: govuk.govuk-colour("red", $variant: "shade-50");
  background-color: govuk.govuk-colour("red", $variant: "tint-80");
}
