.row-container {
  display: flex;
  align-items: flex-end;
}

.app-column-width-15-per {
  width: 15%;
}

.app-column-width-20-per {
  width: 20%;
}

.no-bottom-border table tbody tr:last-of-type td {
  border-bottom: none;
}

.govuk-table {
  select {
    min-width: auto;
  }
}

.needs-review{
  background: $needs-review-background-color;
}
