<mrtm-wizard-step
  (formSubmit)="onSubmit()"
  [caption]="emissionSourcesMap.title"
  [formGroup]="formGroup"
  [heading]="emissionSourcesMap?.emissionCompliance?.title"
  [showReturnLink]="true"
  [isTwoThirds]="true">
  <p class="govuk-body">
    To make an emissions reduction claim through the annual emissions reporting process you must calculate the mass of
    eligible fuel.
  </p>
  <div
    [isInline]="true"
    formControlName="exist"
    govuk-radio
    legendSize="medium"
    [legend]="emissionSourcesMap?.emissionCompliance?.caption">
    <govuk-radio-option [value]="true" label="Yes" />
    <govuk-radio-option [value]="false" label="No" />
  </div>

  @if (existCtrl.value) {
    <p class="govuk-body">Provide details of procedures, systems and responsibilities for:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Monitoring and recording the purchase of eligible fuel</li>
      <li>Meeting the sustainablity criteria</li>
      <li>Avoiding double accounting</li>
    </ul>
    <br />
    <mrtm-about-procedure-details />
    <mrtm-emp-procedure-form formGroupName="criteria" />
  }
</mrtm-wizard-step>
