@if (vm$ | async; as vm) {
  <netz-page-heading size="l">Reassign task</netz-page-heading>

  @if (vm.showErrorSummary) {
    <govuk-error-summary [form]="vm.form" />
  }

  <form (ngSubmit)="submit(vm.requestTask.id, vm.form.get('assignee').value)" [formGroup]="vm.form">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <div
          [options]="vm.options"
          formControlName="assignee"
          label="Select a person"
          govuk-select
          widthClass="govuk-!-width-full"></div>
      </div>
    </div>
    <button netzPendingButton govukButton type="submit">Confirm and complete</button>
  </form>
}
