<netz-page-heading>Send variation application to regulator</netz-page-heading>
<p class="govuk-body govuk-!-width-two-thirds">
  By selecting “Confirm and send” you confirm that the information in your variation application is correct to the best
  of your knowledge.
</p>

<button (click)="onSubmit()" govukButton netzPendingButton type="button">Confirm and send</button>

<div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" aria-hidden="true" />
  <netz-return-to-task-or-action-page />
</div>
