<mrtm-wizard-step
  (formSubmit)="onSubmit()"
  [caption]="map.title"
  [formGroup]="formGroup"
  [heading]="isEditMode ? map.itemEdit.title : map.itemAdd.title"
  [showReturnLink]="true"
  [isTwoThirds]="true">
  <p class="govuk-body">You should state:</p>
  <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
    <li>its nature and size</li>
    <li>which part of the report it relates to</li>
    <li>any discrepancies between the approved plan and source streams</li>
  </ul>
  <div
    class="govuk-!-margin-bottom-7"
    formControlName="explanation"
    govuk-textarea
    label="Explanation"
    labelSize="small"
    [maxLength]="10000"></div>
  <div
    formControlName="materialEffect"
    govuk-radio
    legend="Does this have a material effect on the total emissions reported?"
    legendSize="small"
    class="govuk-!-margin-bottom-9">
    <govuk-radio-option [value]="true" label="Yes" />
    <govuk-radio-option [value]="false" label="No" />
  </div>
</mrtm-wizard-step>
