<govuk-table [columns]="columns" [data]="data()" [description]="map.title" emptyTableText="No items to display">
  <ng-template let-row="row" let-column="column">
    @switch (column?.field) {
      @case ('actionLinks') {
        @if (isEditable()) {
          <div class="control-row justify-content-end">
            <a
              govukLink
              class="govuk-link--no-visited-state"
              [routerLink]="[`${editLinkPrefix() + row['reference']}/${wizardStep.ITEM_FORM_EDIT}`]"
              [queryParams]="queryParams()">
              Change
            </a>
            <a
              govukLink
              class="govuk-link--no-visited-state"
              [routerLink]="[`${editLinkPrefix() + row['reference']}/${wizardStep.ITEM_DELETE}`]"
              [queryParams]="queryParams()">
              Remove
            </a>
          </div>
        }
      }
      @default {
        <div class="pre-wrap">{{ row[column?.field] }}</div>
      }
    }
  </ng-template>
</govuk-table>

@if (data()?.length && isEditable()) {
  <div class="govuk-!-margin-bottom-6">
    <a
      data-test-id="add-another-item-btn"
      govukSecondaryButton
      [routerLink]="[editLinkPrefix() + wizardStep.ITEM_FORM_ADD]"
      [queryParams]="queryParams()">
      Add another item
    </a>
  </div>
}
