@if (vm(); as vm) {
  <netz-page-heading caption="Management procedures">{{ vm.managementProceduresMap.title }}</netz-page-heading>
  <mrtm-management-procedures-summary-template
    [managementProcedures]="vm.managementProcedures"
    [managementProceduresMap]="vm.managementProceduresMap"
    [dataFlowFiles]="vm.dataFlowFiles"
    [riskAssessmentFiles]="vm.riskAssessmentFiles" />

  @if (vm?.reviewGroupDecision && !vm?.isVariationRegulator) {
    <mrtm-review-decision-summary-template
      [reviewDecision]="vm.reviewGroupDecision"
      [isPermittedUser]="vm.isRegulator" />
  }

  @if (vm?.isVariationRegulator) {
    <mrtm-variation-regulator-decision-partial-summary-template
      [variationDecisionDetails]="vm.regulatorLedReason"
      [showNotes]="vm.isRegulator" />
  }

  <div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" aria-hidden="true" />
    <netz-return-to-task-or-action-page />
  </div>
}
