@if (notes$ | async; as result) {
  <h2 class="govuk-heading-m">Notes</h2>
  <div>
    <a govukSecondaryButton routerLink="./notes/add" type="button">Add a note</a>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" aria-hidden="true" />
  </div>
  @for (note of result.notes; track note) {
    <dl govuk-summary-list>
      <div govukSummaryListRow>
        <dd govukSummaryListRowValue>
          <mrtm-more-less-text
            [text]="note.payload.note"
            [index]="$index"
            [lines]="5"
            widthClass="note-line-width"></mrtm-more-less-text>
          <div class="govuk-!-margin-top-6">
            <mrtm-summary-download-files [files]="getDownloadUrlFiles(note)" />
          </div>
          <div>
            <p class="govuk-caption-m">{{ note.submitter }}, {{ note.lastUpdatedOn | govukDate: 'datetime' }}</p>
          </div>
        </dd>
        <dd govukSummaryListRowActions>
          <a routerLink="./notes/{{ note.id }}/edit" govukLink>Change</a>
          &nbsp;
          <a routerLink="./notes/{{ note.id }}/delete" govukLink>Delete</a>
        </dd>
      </div>
    </dl>
  }
  @if (result.totalItems > pageSize) {
    <govuk-pagination
      [count]="result.totalItems"
      (currentPageChange)="page$.next($event)"
      [pageSize]="pageSize"></govuk-pagination>
  }
}
