<netz-page-heading [caption]="verificationData()?.reference">Check your answers</netz-page-heading>
<mrtm-vir-verifier-recommendation-summary-template [data]="verificationData()" />
<mrtm-vir-operator-response-summary-template header="Operator's response" [data]="operatorResponseData()" />
<mrtm-vir-regulator-response-operator-side-summary-template
  header="Regulator's response"
  [data]="regulatorResponseData()" />
<mrtm-vir-operator-response-to-regulator-comments-summary-template
  [data]="operatorImprovementResponse()"
  [isEditable]="isEditable()"
  [wizardStep]="wizardStepMap"
  header="Your response" />

@if (isEditable() && !isSubTaskCompleted()) {
  <button (click)="onSubmit()" netzPendingButton govukButton type="button">Confirm and complete</button>
}
<div>
  @if (isEditable() && !isSubTaskCompleted()) {
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" aria-hidden="true" />
  }
  <netz-return-to-task-or-action-page />
</div>
