<mrtm-wizard-step
  [formGroup]="formGroup"
  submitText="Submit"
  [heading]="dataSupplierId() ? 'Replace a data supplier' : 'Appoint a data supplier'"
  [isTwoThirds]="true"
  (formSubmit)="onSubmit()">
  <p class="govuk-body">
    Some workflows in METS will allow you to import data from an authorised data supplier using an application
    programming interface (API). When you appoint a data supplier, a secure direct API connection will be established
    between your system and the supplier.
  </p>
  <p class="govuk-body">
    Choose your supplier and select submit. If data is available the option to import it will be available in the
    relevant workflows
  </p>
  <div
    govuk-select
    formControlName="dataSupplierId"
    [options]="dataSuppliers()"
    label="Select data supplier"
    widthClass="govuk-!-width-one-third"></div>
</mrtm-wizard-step>
