<div
  autoComplete="username email"
  class="govuk-!-display-none"
  formControlName="email"
  govuk-text-input
  inputType="email"
  label="Email"></div>

<div class="row-flex align-items-end">
  <div class="col-flex-three-quarters">
    @if (includeActivationMessage()) {
      <div class="govuk-body">Create a password to activate your account</div>
    }
    <div
      autoComplete="new-password"
      formControlName="password"
      govuk-text-input
      [inputType]="passwordInputType()"
      [label]="passwordLabel()"
      #inputPassword
      hint="Your password must be 12 characters or longer and can include letters, numbers and symbols or a combination of
      three random words."></div>
  </div>
  <div class="col-flex-one-quarter">
    <button govukSecondaryButton type="button" (click)="togglePassword()">{{ showLabel() }}</button>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <mrtm-password-strength-meter [password]="inputPassword.input()?.nativeElement?.value" />
  </div>
</div>

<div class="row-flex">
  <div class="col-flex-three-quarters">
    <div
      autoComplete="new-password"
      formControlName="validatePassword"
      govuk-text-input
      [inputType]="passwordInputType()"
      [label]="confirmPasswordLabel()"></div>
  </div>
</div>
