<mrtm-wizard-step
  [formGroup]="form"
  [heading]="reviewDecisionMap.reviewDecisionQuestion.title"
  [caption]="reviewDecisionMap.title"
  (formSubmit)="onSubmit()"
  [hideSubmit]="false"
  [showReturnLink]="true">
  <mrtm-follow-up-response-regulator-summary-template [followUpResponseDTO]="followUpResponseDTO()" />
  <div
    formControlName="type"
    govuk-radio
    legend="What is your decision for the information submitted?"
    legendSize="medium">
    <govuk-radio-option value="ACCEPTED" label="Accepted"></govuk-radio-option>
    <govuk-radio-option value="AMENDS_NEEDED" label="Operator amends needed">
      <ng-container govukConditionalContent>
        <h2 class="govuk-heading-m">Changes required by the operator</h2>
        <ng-container formArrayName="requiredChanges">
          @for (requiredChange of requiredChangesCtrl.controls; track $index) {
            <fieldset [formGroupName]="$index" govukFieldset id="required-changes-{{ $index + 1 }}">
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                  <legend govukLegend legendSize="small">Required change {{ $index + 1 }}</legend>
                </div>
                <div class="govuk-grid-column-one-third govuk-!-text-align-right">
                  @if (requiredChangesCtrl?.length > 1) {
                    <button (click)="requiredChangesCtrl.removeAt($index)" govukSecondaryButton type="button">
                      Remove
                    </button>
                  }
                </div>
              </div>
              <div
                label="Reason"
                [isLabelHidden]="true"
                govuk-textarea
                [maxLength]="10000"
                formControlName="reason"></div>
              <mrtm-multiple-file-input
                [baseDownloadUrl]="downloadUrl"
                label="Upload a file (optional)"
                listTitle="Uploaded files"
                formControlName="files" />
            </fieldset>
            @if (requiredChangesCtrl?.length > 1) {
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" aria-hidden="true" />
            }
          }
          <button (click)="addOtherRequiredChange()" govukSecondaryButton type="button">
            Add another required change
          </button>
        </ng-container>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" aria-hidden="true" />
        <div
          formControlName="dueDate"
          label="Set a new due date for the response (optional)"
          govuk-date-input
          labelSize="medium"
          [min]="minDueDate()"></div>
      </ng-container>
    </govuk-radio-option>
  </div>

  <div
    formControlName="notes"
    govuk-textarea
    label="Notes (optional)"
    hint="The operator cannot view this"
    labelSize="medium"
    [maxLength]="10000"></div>
</mrtm-wizard-step>
