@if (vm(); as vm) {
  <netz-page-heading caption="Additional information">{{ vm.additionalDocumentsMap.title }}</netz-page-heading>
  <mrtm-additional-documents-summary-template
    [additionalDocuments]="vm.additionalDocuments"
    [additionalDocumentsMap]="vm.additionalDocumentsMap"
    [files]="vm.files" />

  @if (vm?.reviewGroupDecision) {
    <mrtm-review-decision-summary-template [reviewDecision]="vm.reviewGroupDecision" />
  }

  <div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
    <netz-return-to-task-or-action-page />
  </div>
}
