<mrtm-wizard-step
  (formSubmit)="onSubmit()"
  [caption]="map.title"
  [formGroup]="formGroup"
  [heading]="map.siteVisitDetailsInPerson.title"
  [showReturnLink]="true"
  [isTwoThirds]="true">
  <ng-container formArrayName="visitDates">
    @for (visitDateFormGroup of visitDatesFormArray.controls; track $index) {
      <div class="flex-space-between govuk-!-margin-bottom-4">
        <div
          govuk-form-group
          [formGroupName]="$index"
          [legend]="`Site visit ${$count === 1 ? '' : $index + 1}`"
          legendSize="medium">
          <div
            formControlName="startDate"
            govuk-date-input
            label="When did the site visit begin?"
            labelSize="normal"></div>
          <div
            formControlName="numberOfDays"
            govuk-text-input
            inputType="number"
            label="How many days were your team on site?"
            labelSize="normal"
            widthClass="govuk-input--width-5"></div>
        </div>
        @if ($count > 1) {
          <button (click)="onRemoveSiteVisit($index)" govukSecondaryButton type="button">Remove</button>
        }
      </div>
    }
  </ng-container>

  <div class="govuk-!-margin-bottom-4">
    <button govukSecondaryButton (click)="addSiteVisit()" type="button">Add another visit</button>
  </div>

  <div
    formControlName="teamMembers"
    [label]="map.siteVisitDetailsInPersonTeamMembers.title"
    labelSize="medium"
    hint="Include the names of the lead auditors and any technical experts involved.<br>Separate the names with a comma, for example John Smith, Jane Smith."
    govuk-textarea
    [maxLength]="10000"></div>
</mrtm-wizard-step>
