<h2 class="govuk-heading-m">Follow-up response details</h2>
<dl govuk-summary-list [hasBorders]="true">
  <div govukSummaryListRow>
    <dt govukSummaryListRowKey>Request from the regulator</dt>
    <dd govukSummaryListRowValue class="pre-wrap" [notProvided]="followUpRequest()?.request"></dd>
  </div>
  <div govukSummaryListRow>
    <dt govukSummaryListRowKey>Due date</dt>
    <dd govukSummaryListRowValue [notProvided]="followUpRequest()?.dueDate | govukDate"></dd>
    @if (isEditable()) {
      <dd govukSummaryListRowActions>
        <a govukLink [routerLink]="changeLink()" [queryParams]="queryParams()">Change</a>
      </dd>
    }
  </div>
</dl>
