<mrtm-notification-banner />
<netz-page-heading [caption]="shipName() | shipStepTitleCustom: 3">
  {{ taskMap.emissionsSources.title }}
</netz-page-heading>

@for (emissionSource of emissionSources(); track emissionSource.uniqueIdentifier; let i = $index) {
  <mrtm-emission-sources-and-fuel-types-used-summary-template
    [data]="emissionSource"
    [index]="i"
    (delete)="onDelete($event)"
    [isDeletable]="true"
    [isEditable]="isEditable" />
} @empty {
  <p class="govuk-body govuk-!-margin-top-7 govuk-!-margin-bottom-9">
    No emissions sources and fuel types used to display
  </p>
}

<div class="govuk-button-group">
  @if (emissionSources().length) {
    <button (click)="onAddItem()" govukButton govukSecondaryButton type="button">Add another item</button>
  } @else {
    <button (click)="onAddItem()" govukButton type="button">Add item</button>
  }
</div>

@if (emissionSources().length) {
  <button (click)="onContinue()" govukButton type="button">Continue</button>
}

<mrtm-return-to-ships-list-table />
