<mrtm-xml-error-summary [xmlErrors]="validationErrors()" [formatNestedErrorDetails]="formatValidationErrorDetails" />
<netz-page-heading [caption]="shipName() | shipStepTitleCustom: 3">
  {{ taskMap.emissionsSources.title }}
</netz-page-heading>
@if (hasNeedsReviewItems()) {
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <govuk-warning-text assistiveText="" class="govuk-!-width-two-thirds">
        The highlighted emission sources have been updated due to changes made to the ‘Fuels and emissions factors’
        question. Review the details for each source, then select Continue.
      </govuk-warning-text>
    </div>
  </div>
}

@for (emissionSource of emissionSources(); track emissionSource.uniqueIdentifier) {
  <mrtm-emission-sources-and-fuel-types-used-summary-template
    [data]="emissionSource"
    [index]="$index"
    (delete)="onDelete($event)"
    [isDeletable]="true"
    [isEditable]="isEditable" />
} @empty {
  <p class="govuk-body govuk-!-margin-top-7 govuk-!-margin-bottom-9">
    No emissions sources and fuel types used to display
  </p>
}

<div class="govuk-button-group">
  @if (emissionSources().length) {
    <button (click)="onAddItem()" govukButton govukSecondaryButton type="button">Add another item</button>
  } @else {
    <button (click)="onAddItem()" govukButton type="button">Add item</button>
  }
</div>

@if (emissionSources().length) {
  <button (click)="onContinue()" govukButton type="button">Continue</button>
}

<mrtm-return-to-ships-list-table />
