<netz-page-heading [caption]="map.title">{{ map.commentsList.title }}</netz-page-heading>

<p class="govuk-body govuk-!-margin-bottom-7">{{ map.commentsList.description }}</p>

@if (reasons()?.length) {
  <h2 class="govuk-heading-m">{{ reasons()?.length > 1 ? 'Reasons' : 'Reason' }}</h2>
  @for (reason of reasons(); track $index) {
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" aria-hidden="true" />
    <div class="flex-space-between govuk-body govuk-!-margin-top-1 govuk-!-margin-bottom-1">
      <div class="pre-wrap">{{ reason }}</div>
      @if (isEditable()) {
        <div class="control-row justify-content-end">
          <ul class="govuk-summary-list__actions-list justify-content-end">
            <li class="govuk-summary-list__actions-list-item">
              <a
                govukLink
                class="govuk-link--no-visited-state"
                [routerLink]="[`../${$index}/${wizardStep.VERIFIED_WITH_COMMENTS_FORM_EDIT}`]">
                Change
              </a>
            </li>
            <li class="govuk-summary-list__actions-list-item">
              <a
                govukLink
                class="govuk-link--no-visited-state"
                [routerLink]="[`../${$index}/${wizardStep.VERIFIED_WITH_COMMENTS_DELETE}`]">
                Remove
              </a>
            </li>
          </ul>
        </div>
      }
    </div>
  }
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" aria-hidden="true" />

  @if (isEditable()) {
    <div class="govuk-!-margin-bottom-6">
      <a govukSecondaryButton [routerLink]="[`../${wizardStep.VERIFIED_WITH_COMMENTS_FORM_ADD}`]">Add another item</a>
    </div>
  }

  <button (click)="onSubmit()" netzPendingButton govukButton type="button">Continue</button>
} @else {
  <a govukButton [routerLink]="[`../${wizardStep.VERIFIED_WITH_COMMENTS_FORM_ADD}`]">Add a reason</a>
}

<div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" aria-hidden="true" />
  <netz-return-to-task-or-action-page />
</div>
