<netz-page-heading size="l">Request two-factor authentication reset</netz-page-heading>

<p class="govuk-body">
  If you have lost your device and cannot access your authenticator, you must request a reset from your regulator or
  administrator.
</p>

<h3 class="govuk-heading-s">Operators</h3>
<p class="govuk-body">Contact your regulator or an operator administrator.</p>
<h3 class="govuk-heading-s">Regulator</h3>
<p class="govuk-body">Contact your regulator administrator</p>
<h3 class="govuk-heading-s">Verifiers</h3>
<p class="govuk-body">Contact your regulator or verifier administrator.</p>

<p class="govuk-body">
  You can contact your regulator or administrator by phone or by
  <a govukLink [routerLink]="['/contact-us']">by email</a>
  . If you are sending an email, use the subject line 'I have lost access to my authenticator app - Manage your UK ETS
  reporting', and include the name of the account or verification body you belong to.
</p>
