@if (vm(); as vm) {
  <netz-page-heading
    caption="List of ships and calculation of maritime emissions"
    class="govuk-grid-column-three-quarters">
    Check your answers
  </netz-page-heading>
  <mrtm-list-of-ships-summary-template
    [data]="vm.ships"
    [originalShips]="vm.originalShips"
    editUrl="../emissions/ships" />
  <mrtm-variation-regulator-decision-partial-summary-template
    [variationDecisionDetails]="vm.variationDecisionDetails" />
  <div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" aria-hidden="true" />
    <netz-return-to-task-or-action-page />
  </div>
}
