<mrtm-wizard-step
  (formSubmit)="onSubmit()"
  [caption]="maritimeEmissionsMap.title"
  [formGroup]="form"
  [heading]="maritimeEmissionsMap.feeDetails.title"
  [hideSubmit]="false"
  [isTwoThirds]="true"
  [showReturnLink]="true">
  <p class="govuk-body">A payment task will be created after you send the official notice to the operator.</p>
  <div
    formControlName="totalBillableHours"
    govuk-text-input
    inputType="number"
    label="Total billable hours"
    labelSize="small"
    widthClass="govuk-input--width-10"></div>
  <div
    formControlName="hourlyRate"
    govuk-text-input
    inputType="number"
    label="Hourly rate"
    labelSize="small"
    prefix="£"
    suffix="per hour"
    widthClass="govuk-input--width-10"></div>
  <div
    formControlName="dueDate"
    govuk-date-input
    label="Set a due date for the payment"
    legendSize="small"
    hint="This date is for notification purposes and is not a formal deadline"></div>
  <div
    formControlName="comments"
    govuk-textarea
    label="Regulator comments (optional)"
    labelSize="small"
    hint="The operator cannot view this"
    [maxLength]="10000"></div>
  <p class="govuk-body govuk-!-font-weight-bold">
    Total operator fee
    <br />
    {{ totalOperatorFee() | currency: 'GBP' : 'symbol' : '.2' }}
  </p>
</mrtm-wizard-step>
