<div class="govuk-grid-row">
  <div class="govuk-!-width-two-thirds">
    <govuk-panel title="Verification body {{ verificationBodyName$ | async }} has been added" />
    <h3 class="govuk-heading-m">What happens next</h3>
    <p class="govuk-body">An account confirmation email has been sent to the admin of this verification body.</p>
  </div>
</div>
<div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" aria-hidden="true" />
  <a govukLink routerLink="/verification-bodies">Return to: Manage verification bodies</a>
</div>
