<dl govuk-summary-list>
  <div govukSummaryListRow>
    <dt govukSummaryListRowKey>{{ reportingRequiredLabel() }}</dt>
    <dd govukSummaryListRowValue>{{ reportingRequired() | booleanToText }}</dd>
    @if (isEditable() && changeLink()) {
      <dd govukSummaryListRowActions>
        <a govukLink [routerLink]="changeLink()" [queryParams]="queryParams()">
          Change
          <span class="govuk-visually-hidden">requirement to submit an emissions report</span>
        </a>
      </dd>
    }
  </div>

  @if (reportingRequired() === false) {
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>{{ map().noReportingReason.title }}</dt>
      <dd govukSummaryListRowValue class="pre-wrap">{{ reportingObligationDetails().noReportingReason }}</dd>
      @if (isEditable() && changeLink()) {
        <dd govukSummaryListRowActions>
          <a govukLink [routerLink]="changeLink()" [queryParams]="queryParams()">
            Change
            <span class="govuk-visually-hidden">explanation for not submitting a report</span>
          </a>
        </dd>
      }
    </div>
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>{{ supportingDocumentsLabel() }}</dt>
      <dd govukSummaryListRowValue>
        <mrtm-summary-download-files [files]="files()" />
      </dd>
      @if (isEditable() && changeLink()) {
        <dd govukSummaryListRowActions>
          <a govukLink [routerLink]="changeLink()" [queryParams]="queryParams()">
            Change
            <span class="govuk-visually-hidden">upload of supporting documents</span>
          </a>
        </dd>
      }
    </div>
  }
</dl>
