@if (rows(); as rows) {
  @if (totalItems() > 0) {
    @if (totalEmissionsSummary(); as totalEmissionsSummary) {
      <dl govuk-summary-list [hasBorders]="true" [hasBottomMargin]="!warningMessages()?.length">
        @if (totalEmissionsSummary?.totalEmissions) {
          <div govukSummaryListRow>
            <dt govukSummaryListRowKey class="govuk-!-width-one-third">Total emissions from voyages (tCO2e)</dt>
            <dd govukSummaryListRowValue>{{ totalEmissionsSummary?.totalEmissions | bigNumber: 4 }}</dd>
          </div>
        }
        @if (totalEmissionsSummary?.surrenderEmissions) {
          <div govukSummaryListRow>
            <dt govukSummaryListRowKey class="govuk-!-width-one-third">Total emissions figure for surrender (tCO2e)</dt>
            <dd govukSummaryListRowValue>{{ totalEmissionsSummary?.surrenderEmissions | bigNumber: 4 }}</dd>
          </div>
        }
      </dl>
    }

    @for (warningMessage of warningMessages(); track $index) {
      <govuk-warning-text [assistiveText]="warningMessage" [bottomSpacing]="$last ? 7 : 0" />
    }
    @if (editable()) {
      <button type="button" govukSecondaryButton netzPendingButton (click)="onDelete(rows)">Delete</button>
    }
  }
  @if (editable()) {
    <mrtm-multi-select-table
      id="voyages"
      targetFragment="voyages"
      [pageSize]="pageSize()"
      [columns]="columns"
      [data]="rows"
      (sort)="sort.set($event)"
      [emptyTableText]="emptyTableText()"
      description="Voyages and emission details list"
      mrtmScrollablePane
      ariaLabel="Voyages and emission details list">
      <ng-template let-row="row" let-column="column">
        <ng-container [ngTemplateOutlet]="tableContent" [ngTemplateOutletContext]="{ row, column }" />
      </ng-template>
    </mrtm-multi-select-table>
  } @else {
    <govuk-table
      id="voyages"
      [columns]="columns"
      [data]="rows"
      (sort)="sort.set($event)"
      [emptyTableText]="emptyTableText()"
      description="Voyages and emission details list"
      mrtmScrollablePane
      ariaLabel="Voyages and emission details list">
      <ng-template let-row="row" let-column="column">
        <ng-container [ngTemplateOutlet]="tableContent" [ngTemplateOutletContext]="{ row, column }" />
      </ng-template>
    </govuk-table>
  }

  @if (!editable() && totalItems() > pageSize()) {
    <govuk-pagination
      fragment="voyages"
      [count]="this.totalItems()"
      [pageSize]="pageSize()"
      (currentPageChange)="onPageChange($event)" />
  }

  <ng-template let-column="column" let-row="row" #tableContent>
    @switch (column?.field) {
      @case ('shipName') {
        @if (row?.['shipName'] && row.canViewDetails) {
          <a
            govukLink
            [routerLink]="editPath() ? ['./', editPath(), row.uniqueIdentifier] : ['./', row.uniqueIdentifier]">
            {{ row[column.field] }}
          </a>
        } @else {
          {{ row?.[column?.field] }}
        }
        <br />
        <span class="govuk-hint">{{ row?.imoNumber }}</span>
      }
      @case ('departureTime') {
        @if (row?.[column?.field]) {
          {{ row?.['departurePort'] | selectOptionToTitle: portSelectItems }},
          <br />
          <span class="govuk-hint">
            {{ row?.['departureCountry'] | selectOptionToTitle: countrySelectItems }},
            <br />
            {{ row?.[column?.field] | govukDate: 'date' }}
          </span>
        }
      }
      @case ('arrivalTime') {
        @if (row?.[column?.field]) {
          {{ row?.['arrivalPort'] | selectOptionToTitle: portSelectItems }},
          <br />
          <span class="govuk-hint">
            {{ row?.['arrivalCountry'] | selectOptionToTitle: countrySelectItems }},
            <br />
            {{ row?.[column?.field] | govukDate: 'date' }}
          </span>
        }
      }
      @case ('status') {
        <govuk-tag [color]="row[column.field] | statusTagColor">
          {{ row?.[column?.field] | portVoyageAggregatedStatus }}
        </govuk-tag>
      }
      @case ('surrenderEmissions') {
        @if (['International', 'European Economic Area'].includes(row?.['journeyType'])) {
          Not applicable
        } @else {
          {{ row?.[column?.field] | bigNumber: 7 }}
        }
      }
      @default {
        {{ row?.[column?.field] | bigNumber: 7 }}
      }
    }
  </ng-template>
}
