@if (data(); as data) {
  <h2 class="govuk-heading-m">{{ map.derogations.title }}</h2>
  <dl govuk-summary-list [hasBorders]="true">
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>{{ map.derogations.title }}</dt>
      <dd govukSummaryListRowValue>{{ data?.exceptionFromPerVoyageMonitoring | booleanToText }}</dd>
      @if (isEditable()) {
        <dd govukSummaryListRowActions>
          <a govukLink [routerLink]="changeLink()" [queryParams]="queryParams()">Change</a>
        </dd>
      }
    </div>
  </dl>
}
