@if (vm(); as vm) {
  <netz-page-heading [caption]="vm.variationDetailsMap.title">Check your answers</netz-page-heading>
  <mrtm-variation-details-summary-template
    [variationDetails]="vm.variationDetails"
    [isEditable]="vm.isEditable"
    [wizardStep]="vm.wizardStep"
    [queryParams]="{ change: true }" />
  <mrtm-emp-review-decision-summary-template
    [reviewDecision]="vm.empReviewDecisionDTO"
    [isEditable]="vm.isEditable"
    [changeLink]="vm.wizardStep.DECISION"
    [queryParams]="{ change: true }" />
  @if (vm.isEditable && !vm.isSubTaskCompleted) {
    <button (click)="onSubmit()" netzPendingButton govukButton type="button">Confirm and continue</button>
  }
  <div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
    <netz-return-to-task-or-action-page />
  </div>
}
