@if (header(); as header) {
  <h2 class="govuk-heading-m">{{ header }}</h2>
}
<p class="govuk-body govuk-!-margin-bottom-1">CO2 emissions (t)</p>
<p class="govuk-body">
  @if (!isNil(data()?.co2)) {
    {{ data()?.co2 | bigNumber: 7 }}
  } @else {
    Not calculated yet
  }
</p>
<p class="govuk-body govuk-!-margin-bottom-1">CH4 emissions (tCO2e)</p>
<p class="govuk-body">
  @if (!isNil(data()?.ch4)) {
    {{ data()?.ch4 | bigNumber: 7 }}
  } @else {
    Not calculated yet
  }
</p>
<p class="govuk-body govuk-!-margin-bottom-1">N2O emissions (tCO2e)</p>
<p class="govuk-body">
  @if (!isNil(data()?.n2o)) {
    {{ data()?.n2o | bigNumber: 7 }}
  } @else {
    Not calculated yet
  }
</p>
<p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Total emissions (tCO2e)</p>
<p class="govuk-body govuk-!-margin-bottom-6">
  @if (!isNil(data()?.total)) {
    <strong>{{ data()?.total | bigNumber: 7 }}</strong>
  } @else {
    Not calculated yet
  }
</p>
