@if (vm(); as vm) {
  <netz-page-heading [caption]="vm.caption">Check your answers</netz-page-heading>
  @if (vm?.ship?.dataInputType === 'EXTERNAL_PROVIDER') {
    <div class="govuk-inset-text">Data imported from external system cannot be edited.</div>
  }
  <mrtm-aer-ship-summary-template
    [data]="vm.ship"
    [isEditable]="vm.isEditable"
    [changeLinks]="vm.changeLinks"
    (addItem)="onAddItem($event)"
    (removeItem)="onRemoveItem($event)" />

  @if (vm.isEditable && vm.isShipWizardCompleted && !vm.isShipStatusCompleted) {
    <button type="button" govukButton netzPendingButton (click)="onContinue()">Continue</button>
  }

  <div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" aria-hidden="true" />
    <a govukLink [routerLink]="['../../']">Return to: {{ vm.subtasksMap.ships.title }}</a>
  </div>
}
