<h2 class="govuk-heading-m">Operator details</h2>
<dl govuk-summary-list>
  <div govukSummaryListRow>
    <dt govukSummaryListRowKey>Emitter ID</dt>
    <dd govukSummaryListRowValue>{{ account()?.businessId }}</dd>
  </div>
  <div govukSummaryListRow>
    <dt govukSummaryListRowKey>Company IMO Number</dt>
    <dd govukSummaryListRowValue>{{ operatorDetails()?.imoNumber }}</dd>
  </div>
  <div govukSummaryListRow>
    <dt govukSummaryListRowKey>Operator name</dt>
    <dd govukSummaryListRowValue>{{ operatorDetails()?.operatorName }}</dd>
  </div>
  <div govukSummaryListRow>
    <dt govukSummaryListRowKey>First year of reporting obligation</dt>
    <dd govukSummaryListRowValue>{{ account()?.firstMaritimeActivityDate | govukDate }}</dd>
  </div>
  <div govukSummaryListRow>
    <dt govukSummaryListRowKey>Regulator</dt>
    <dd govukSummaryListRowValue>{{ account()?.competentAuthority | competentAuthority }}</dd>
  </div>
</dl>

<mrtm-registry-organisation-structure-summary-template [data]="operatorDetails()?.organisationStructure" />
