@if (vm(); as vm) {
  <netz-page-heading [caption]="vm.title">Check your answers</netz-page-heading>
  <mrtm-data-gaps-summary-template [dataGaps]="vm.dataGaps" [originalDataGaps]="vm.originalDataGaps" />
  <mrtm-variation-regulator-decision-partial-summary-template
    [variationDecisionDetails]="vm.variationDecisionDetails" />
  <div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" aria-hidden="true" />
    <netz-return-to-task-or-action-page />
  </div>
}
