<mrtm-wizard-step
  [formGroup]="formGroup"
  heading="Select who you want to notify about this request"
  (formSubmit)="onSubmit()"
  [showReturnLink]="true"
  [isTwoThirds]="true">
  @if (allOperatorsInfo(); as operatorsInfo) {
    @if (operatorsInfo?.autoNotifiedOperators; as autoNotifiedOperators) {
      <div class="govuk-!-margin-bottom-6">
        <h3 class="govuk-heading-m">Users that automatically receive documents</h3>
        @for (user of autoNotifiedOperators | keyvalue; track user) {
          <p class="govuk-body">{{ user.key | userInfoResolver: autoNotifiedOperators }}</p>
        }
      </div>
    }

    @if (operatorsInfo?.otherOperators; as otherOperatorsInfo) {
      <div class="govuk-!-margin-bottom-6">
        @if ((otherOperatorsInfo | keyvalue)?.length > 0) {
          <div
            label="Select the users you want to notify"
            labelSize="medium"
            govuk-checkboxes
            formControlName="operators">
            @for (user of otherOperatorsInfo | keyvalue; track user) {
              <govuk-checkbox [value]="user.key" [label]="user.key | userInfoResolver: otherOperatorsInfo" />
            }
          </div>
        } @else {
          <h2 class="govuk-heading-m">Select the users you want to notify</h2>
          <p class="govuk-body">No additional users exist</p>
        }
      </div>
    }
  }

  <div class="govuk-!-margin-bottom-6">
    <h2 class="govuk-heading-m">Select the name and signature that will be shown on the official notice document</h2>
    <div
      label="Select signatory"
      [isLabelHidden]="true"
      [options]="assignees()"
      formControlName="signatory"
      govuk-select
      widthClass="govuk-!-width-two-thirds"></div>
  </div>
</mrtm-wizard-step>
