@if (isSummaryDisplayed) {
  <govuk-error-summary [form]="form" />
}
<netz-page-heading size="xl">
  {{ (userLoaded$ | async) ? 'External contact details' : 'Add an external contact' }}
</netz-page-heading>

<form (ngSubmit)="addExternalContact()" [formGroup]="form" id="add-external-contact">
  <div
    autoComplete="name"
    formControlName="name"
    govuk-text-input
    label="Displayed name"
    widthClass="govuk-!-width-one-third"></div>
  <div
    autoComplete="email"
    formControlName="email"
    govuk-text-input
    inputType="email"
    label="Email address"
    widthClass="govuk-!-width-one-third"></div>
  <div formControlName="description" govuk-text-input label="Description" widthClass="govuk-!-width-one-third"></div>

  <button netzPendingButton govukButton type="submit">
    {{ userLoaded$ | async | submitIfEmpty }}
  </button>
</form>
