<div class="govuk-!-margin-top-7 govuk-!-margin-bottom-9">
  <h3 class="govuk-heading-m">Emissions summary</h3>
  <p class="govuk-hint govuk-!-margin-bottom-2">{{ surrenderHeading }} (tCO2e)</p>
  <p class="govuk-body govuk-!-font-size-27">
    <strong>{{ totalEmissions()?.surrenderEmissionsSummary | bigNumber: 7 }}</strong>
  </p>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" aria-hidden="true" />
  <p class="govuk-hint govuk-!-margin-top-2">
    <span class="govuk-!-margin-right-9">{{ totalEmissionsHeading }} (tCO2e)</span>
    <span class="govuk-!-margin-left-6">{{ totalEmissions()?.totalShipEmissionsSummary | bigNumber: 7 }}</span>
  </p>
</div>

<h3 class="govuk-heading-m">Emission calculations</h3>
<govuk-table
  class="govuk-!-margin-bottom-9 govuk-!-display-block"
  [columns]="columns"
  [data]="totalEmissionsTableData()"
  emptyTableText="No emissions to display"
  description="Emission calculations">
  <ng-template let-row="row" let-column="column">
    @switch (column.field) {
      @case ('emissionLabel') {
        <strong class="govuk-!-display-block" [class.govuk-!-padding-top-8]="row?.hasPaddingTop">
          {{ row?.[column.field] }}
        </strong>
      }
      @default {
        @if (row?.isSummary) {
          @if (column.field === 'total') {
            <strong class="govuk-!-display-block" [class.govuk-!-padding-top-8]="row?.hasPaddingTop">
              {{ row?.[column?.field] | bigNumber: 7 }}
            </strong>
          }
        } @else {
          <span class="govuk-!-display-block" [class.govuk-!-padding-top-8]="row?.hasPaddingTop">
            {{ row?.[column?.field] | bigNumber: 7 }}
          </span>
        }
      }
    }
  </ng-template>
</govuk-table>
