<mrtm-wizard-step
  [formGroup]="formGroup"
  (formSubmit)="onSubmit()"
  [isTwoThirds]="true"
  caption="New port call for {{ ship()?.details?.name }}"
  [heading]="wizardMap.portDetails.title">
  <h3 class="govuk-heading-m">Port details</h3>
  <div
    govuk-select
    [options]="countrySelectItems"
    widthClass="govuk-!-width-one-third"
    formControlName="country"
    label="Country code and name "
    labelSize="normal"></div>
  <div
    govuk-select
    [options]="portSelectItems()"
    formControlName="port"
    widthClass="govuk-!-width-one-third"
    label="Port code and name "
    labelSize="normal"></div>

  <h3 class="govuk-heading-m">Arrival details</h3>
  <div
    mrtm-date-picker
    formControlName="arrivalDate"
    [datePickerConfig]="datepickerConfig"
    label="Date of arrival"
    hint="For example, 21/7/2024"
    widthClass="govuk-!-width-one-third"></div>
  <div
    mrtm-time-input
    formControlName="arrivalTime"
    label="Actual time of arrival (ATA)"
    hint="Enter the exact time in GMT, for example 17:06:22"></div>

  <h3 class="govuk-heading-m">Departure details</h3>
  <div
    mrtm-date-picker
    formControlName="departureDate"
    [datePickerConfig]="datepickerConfig"
    label="Date of departure"
    hint="For example, 21/7/2024"
    widthClass="govuk-!-width-one-third"></div>
  <div
    mrtm-time-input
    formControlName="departureTime"
    label="Actual time of departure (ATD)"
    hint="Enter the exact time in GMT, for example 17:06:22"></div>

  @if (ship()?.derogations?.carbonCaptureAndStorageReduction) {
    <h3 class="govuk-heading-m">Carbon Capture Utilisation and Storage</h3>
    <div
      govuk-text-input
      formControlName="ccs"
      label="Carbon capture and storage (CCS)(t)"
      widthClass="govuk-!-width-one-third"></div>
    <div
      govuk-text-input
      formControlName="ccu"
      label="Carbon capture and utilisation (CCU)(t)"
      widthClass="govuk-!-width-one-third"></div>
  }

  @if (ship()?.derogations?.smallIslandFerryOperatorReduction) {
    <div
      formControlName="smallIslandFerryReduction"
      govuk-radio
      legend="Are you claiming a small island ferry operator surrender reduction?"
      legendSize="medium">
      <govuk-radio-option [value]="true" label="Yes" />
      <govuk-radio-option [value]="false" label="No" />
    </div>
  }
</mrtm-wizard-step>

<div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
  <a govukLink [routerLink]="['../../']">Return to: {{ wizardMap.title }}</a>
</div>
