@if (vm(); as vm) {
  <netz-page-heading [caption]="vm?.greenhouseGasMap.title">Check your answers</netz-page-heading>
  <mrtm-greenhouses-summary-template
    [greenhouseGas]="vm.greenhouseGas"
    [originalGreenhouseGas]="vm.originalGreenhouseGas"
    [greenhouseGasMap]="vm.greenhouseGasMap" />
  <mrtm-variation-regulator-decision-partial-summary-template
    [variationDecisionDetails]="vm.variationDecisionDetails" />
  <div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
    <netz-return-to-task-or-action-page />
  </div>
}
