<dl govuk-summary-list [hasBottomMargin]="false">
  <div govukSummaryListRow>
    <dt govukSummaryListRowKey>Regulator's comments</dt>
    <dd govukSummaryListRowValue class="pre-wrap">
      @if (followUpReviewDecision()?.requiredChanges?.length > 0) {
        <ul class="govuk-list govuk-list--number">
          @for (change of followUpReviewDecision()?.requiredChanges; track change) {
            <li>
              {{ change?.reason }}
              @if (change?.files?.length > 0) {
                <br />
                <mrtm-summary-download-files [files]="change?.files" />
              }
            </li>
          }
        </ul>
      }
    </dd>
  </div>
  <div govukSummaryListRow>
    <dt govukSummaryListRowKey>Changes due by</dt>
    <dd govukSummaryListRowValue [notProvided]="followUpReviewDecision()?.dueDate | govukDate"></dd>
  </div>
</dl>
