@if (data(); as data) {
  <h3 class="govuk-heading-m">Request details</h3>
  <dl govuk-summary-list>
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Current deadline date</dt>
      <dd govukSummaryListRowValue>{{ data?.currentDueDate | govukDate }}</dd>
      @if (isEditable()) {
        <dd govukSummaryListRowActions>
          <a govukLink [routerLink]="changeLink()" [queryParams]="queryParams()">Change</a>
        </dd>
      }
    </div>
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Proposed deadline date</dt>
      <dd govukSummaryListRowValue>{{ data?.proposedDueDate | govukDate }}</dd>
      @if (isEditable()) {
        <dd govukSummaryListRowActions>
          <a govukLink [routerLink]="changeLink()" [queryParams]="queryParams()">Change</a>
        </dd>
      }
    </div>
  </dl>
}
