<netz-page-heading>
  Confirm that the user account of {{ verifierUserInfo$ | async | userFullName }} will be deleted
</netz-page-heading>
<govuk-warning-text assistiveText="You will not be able to undo this action." />
<p class="govuk-body">All tasks currently assigned to this user will be automatically unassigned.</p>
<p class="govuk-body">If they are site contacts, this will be unassigned.</p>
<p class="govuk-body">
  You may cancel and manually re-assign task and site contacts before attempting to delete this user.
</p>
<div class="govuk-button-group govuk-!-margin-top-5">
  <button (click)="handleDelete()" govukWarnButton netzPendingButton type="button">Confirm delete</button>
  <a
    [fragment]="(verificationBodyId$ | async) !== null ? 'contacts' : null"
    [routerLink]="cancelLink$ | async"
    govukLink>
    Cancel
  </a>
</div>
