@if (data(); as voyage) {
  <h2 class="govuk-heading-m">Voyage details</h2>

  <dl govuk-summary-list [hasBorders]="true">
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Country code and name of departure</dt>
      <dd govukSummaryListRowValue>
        {{ voyage?.voyageDetails?.departurePort?.country | selectOptionToTitle: countries }}
      </dd>
      @if (editable()) {
        <dd govukSummaryListColumnActions>
          <a govukLink [routerLink]="[wizardStep.VOYAGE_DETAILS]" [queryParams]="editQueryParams()">
            Change
            <span class="govuk-visually-hidden">country code and name of departure</span>
          </a>
        </dd>
      }
    </div>
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Port code and name of departure</dt>
      <dd govukSummaryListRowValue>{{ voyage?.voyageDetails?.departurePort?.port | selectOptionToTitle: ports }}</dd>
      @if (editable()) {
        <dd govukSummaryListColumnActions>
          <a govukLink [routerLink]="[wizardStep.VOYAGE_DETAILS]" [queryParams]="editQueryParams()">
            Change
            <span class="govuk-visually-hidden">port code and name of departure</span>
          </a>
        </dd>
      }
    </div>
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Date of departure</dt>
      <dd govukSummaryListRowValue>{{ voyage?.voyageDetails?.departureTime | govukDate: 'date' }}</dd>
      @if (editable()) {
        <dd govukSummaryListColumnActions>
          <a govukLink [routerLink]="[wizardStep.VOYAGE_DETAILS]" [queryParams]="editQueryParams()">
            Change
            <span class="govuk-visually-hidden">date of departure</span>
          </a>
        </dd>
      }
    </div>
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Actual time of departure (ATD)</dt>
      <dd govukSummaryListRowValue>{{ voyage?.voyageDetails?.departureTime | date: 'HH:mm:ss' : 'UTC' }}</dd>
      @if (editable()) {
        <dd govukSummaryListColumnActions>
          <a govukLink [routerLink]="[wizardStep.VOYAGE_DETAILS]" [queryParams]="editQueryParams()">
            Change
            <span class="govuk-visually-hidden">actual time of departure</span>
          </a>
        </dd>
      }
    </div>
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Country code and name of arrival</dt>
      <dd govukSummaryListRowValue>
        {{ voyage?.voyageDetails?.arrivalPort?.country | selectOptionToTitle: countries }}
      </dd>
      @if (editable()) {
        <dd govukSummaryListColumnActions>
          <a govukLink [routerLink]="[wizardStep.VOYAGE_DETAILS]" [queryParams]="editQueryParams()">
            Change
            <span class="govuk-visually-hidden">country code and name of arrival</span>
          </a>
        </dd>
      }
    </div>
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Port code and name of arrival</dt>
      <dd govukSummaryListRowValue>{{ voyage?.voyageDetails?.arrivalPort?.port | selectOptionToTitle: ports }}</dd>
      @if (editable()) {
        <dd govukSummaryListColumnActions>
          <a govukLink [routerLink]="[wizardStep.VOYAGE_DETAILS]" [queryParams]="editQueryParams()">
            Change
            <span class="govuk-visually-hidden">port code and name of arrival</span>
          </a>
        </dd>
      }
    </div>

    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Date of arrival</dt>
      <dd govukSummaryListRowValue>{{ voyage?.voyageDetails?.arrivalTime | govukDate: 'date' }}</dd>
      @if (editable()) {
        <dd govukSummaryListColumnActions>
          <a govukLink [routerLink]="[wizardStep.VOYAGE_DETAILS]" [queryParams]="editQueryParams()">
            Change
            <span class="govuk-visually-hidden">date of arrival</span>
          </a>
        </dd>
      }
    </div>
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Actual time of arrival (ATA)</dt>
      <dd govukSummaryListRowValue>{{ voyage?.voyageDetails?.arrivalTime | date: 'HH:mm:ss' : 'UTC' }}</dd>
      @if (editable()) {
        <dd govukSummaryListColumnActions>
          <a govukLink [routerLink]="[wizardStep.VOYAGE_DETAILS]" [queryParams]="editQueryParams()">
            Change
            <span class="govuk-visually-hidden">actual time of arrival</span>
          </a>
        </dd>
      }
    </div>
  </dl>

  <mrtm-voyage-or-port-call-emissions-summary-template
    [isSummary]="true"
    header="Emissions from voyage"
    [editable]="editable()"
    [journeyType]="voyage?.journeyType"
    [totalEmissions]="voyage?.totalEmissions"
    [surrenderEmissions]="voyage?.surrenderEmissions" />

  <mrtm-fuel-consumption-and-direct-emissions-summary-template
    [directEmissionsEditPath]="[wizardStep.FUEL_EMISSIONS, wizardStep.DIRECT_EMISSIONS].join('/')"
    [fuelConsumptionsEditPath]="[wizardStep.FUEL_EMISSIONS, wizardStep.FUEL_CONSUMPTION].join('/')"
    [editable]="editable()"
    [editQueryParams]="editQueryParams()"
    [directEmissions]="voyage?.directEmissions"
    [fuelConsumptions]="voyage?.fuelConsumptions"
    (addDirectEmission)="onAddDirectEmissions()" />
}
