<div class="app-task-list__main-row">
  <div class="app-task-list__task-name">
    @if (link()) {
      @if (warningHint()) {
        <span>
          <a [routerLink]="link()" govukLink>{{ linkText() }}</a>
          <govuk-warning-text [bottomSpacing]="0" [assistiveText]="null">{{ warningHint() }}</govuk-warning-text>
        </span>
      } @else {
        <a [routerLink]="link()" govukLink>{{ linkText() }}</a>
      }
    } @else {
      <span>{{ linkText() }}</span>
    }
    @if (hint()) {
      <span class="app-task-list__task-hint govuk-hint">{{ hint() }}</span>
    }
  </div>
  @if (status()) {
    @if ((status() | statusTagStyle) === 'fill') {
      <govuk-tag [color]="status() | statusTagColor" class="app-task-list__tag">
        {{ status() | statusTagText }}
      </govuk-tag>
    } @else {
      <div
        class="app-task-list__tag"
        [class.govuk-task-list__status--cannot-start-yet]="(status() | statusTagStyle) === 'tinted'">
        {{ status() | statusTagText }}
      </div>
    }
  }
</div>
<ng-content />
@if (postContentComponent()) {
  <ng-container *ngComponentOutlet="postContentComponent(); inputs: postContentComponentInputs()" />
}
