<mrtm-wizard-step
  (formSubmit)="onSubmit()"
  [caption]="map.title"
  [formGroup]="formGroup"
  [heading]="map.emissionsCorrect.title"
  [showReturnLink]="true"
  [isTwoThirds]="true">
  <mrtm-monitoring-plan-changes-summary-template
    [monitoringPlanVersion]="monitoringPlanVersion()"
    [monitoringPlanChanges]="monitoringPlanChanges()" />
  <div
    formControlName="additionalChangesNotCovered"
    govuk-radio
    [legend]="map.additionalChangesNotCovered.caption"
    legendSize="medium">
    <govuk-radio-option [value]="true" label="Yes">
      <ng-container govukConditionalContent>
        <div
          formControlName="additionalChangesNotCoveredDetails"
          govuk-textarea
          [label]="map.additionalChangesNotCoveredDetails.title"
          labelSize="normal"
          [maxLength]="10000"></div>
      </ng-container>
    </govuk-radio-option>
    <govuk-radio-option [value]="false" label="No" />
  </div>
</mrtm-wizard-step>
