@if (vm(); as vm) {
  <netz-page-heading caption="Follow-up response">Check your answers</netz-page-heading>
  <mrtm-follow-up-response-summary-template
    [followUpResponse]="vm"
    [changeLink]="changeLink"
    [queryParams]="{ change: true }" />
  <button (click)="onSubmit()" netzPendingButton govukButton type="button">Confirm and complete</button>
  <div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" aria-hidden="true" />
    <netz-return-to-task-or-action-page />
  </div>
}
