<form (ngSubmit)="onSubmit()" [formGroup]="formGroup()">
  <div class="govuk-grid-row">
    <div [class]="isTwoThirds() ? 'govuk-grid-column-two-thirds' : 'govuk-grid-column-full'">
      @if (isSummaryDisplayedSubject | async) {
        <mrtm-csv-error-summary [form]="formGroup()" />
        <mrtm-xml-error-summary [xmlErrors]="xmlErrors()" />
      }
      <netz-page-heading [caption]="caption()">{{ heading() }}</netz-page-heading>
      <ng-content />
    </div>
  </div>
  <ng-content select="[slot=fullWidthContent]" />
  @if (!hideSubmit()) {
    <button netzPendingButton govukButton type="submit">{{ submitText() }}</button>
  }
  @if (showCancelLink()) {
    <div>
      <a govukLink [routerLink]="cancelLinkPath()">Cancel</a>
    </div>
  }
</form>

@if (showReturnLink()) {
  <div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" aria-hidden="true" />
    <netz-return-to-task-or-action-page />
  </div>
}
