@use 'govuk-frontend/dist/govuk/index' with (
  $govuk-page-width: 1200px,
  $govuk-suppressed-warnings: ie8,
  $govuk-assets-path: '/maritime/assets/',
);
@use 'theming/tables';
@use 'theming/shared';
@use 'theming/task-list';
@use 'theming/lists';
@use 'theming/helpers';
@use 'theming/panels';
@use 'theming/print';
@use 'theming/header';
@use 'theming/diff';
