@use 'theming/asset-helpers';
@use 'govuk-frontend/dist/govuk/all' as govuk with (
  $govuk-page-width: 1200px,
  $govuk-suppressed-warnings: ie8,
  $govuk-image-url-function: 'image-url',
  $govuk-font-url-function: 'font-url',
);
@use 'theming/tables';
@use 'theming/shared';
@use 'theming/task-list';
@use 'theming/lists';
@use 'theming/helpers';
@use 'theming/panels';
@use 'theming/print';
@use 'theming/header';
@use 'theming/diff';
