<mrtm-mandate-responsibility-summary-template
  [wizardStep]="wizardStep()"
  [mandate]="mandate()"
  [originalMandate]="originalMandate()"
  [queryParams]="queryParams()"
  [isEditable]="isEditable()" />

@if (mandate()?.exist) {
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h3 class="govuk-heading-m">{{ mandateMap().registeredOwners.title }}</h3>
    </div>
    @if (isEditable()) {
      <div class="govuk-grid-column-one-third">
        <div class="govuk-body float-right">
          <a [routerLink]="[wizardStep().REGISTERED_OWNERS]" [queryParams]="queryParams()" govukLink>Change</a>
        </div>
      </div>
    }
  </div>
  <mrtm-mandate-registered-owners-list-summary-template
    [registeredOwnerItems]="mandate()?.registeredOwners"
    [originalRegisteredOwnerItems]="originalMandate()?.registeredOwners" />
  <mrtm-mandate-responsibility-declaration-summary-template
    [wizardStep]="wizardStep()"
    [mandate]="mandate()"
    [originalMandate]="originalMandate()"
    [operatorName]="operatorName()"
    [originalOperatorName]="originalOperatorName()"
    [queryParams]="queryParams()"
    [isEditable]="isEditable()" />
}
