<form (ngSubmit)="onSubmit()" [formGroup]="formGroup">
  <div class="govuk-grid-row">
    <div [class]="isTwoThirds ? 'govuk-grid-column-two-thirds' : 'govuk-grid-column-full'">
      @if (isSummaryDisplayedSubject | async) {
        <govuk-error-summary [form]="formGroup"></govuk-error-summary>
      }
      <netz-page-heading [caption]="caption" [size]="size">{{ heading }}</netz-page-heading>
      <ng-content></ng-content>
    </div>
  </div>
  <ng-content select="[slot=fullWidthContent]"></ng-content>

  <div [class.govuk-button-group]="!hideSubmit && showCancelLink">
    @if (!hideSubmit) {
      <button id="wizard-step__button-submit" netzPendingButton govukButton type="submit">{{ submitText }}</button>
    }
    @if (showCancelLink) {
      <a id="wizard-step__link-cancel" govukLink [routerLink]="cancelLinkPath">Cancel</a>
    }
  </div>
</form>

@if (showReturnLink) {
  <div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" aria-hidden="true" />
    <netz-return-to-task-or-action-page />
  </div>
}
