<div class="govuk-!-width-two-thirds">
  <netz-page-heading>{{ map.commentsDelete.title }}</netz-page-heading>

  <p class="govuk-body govuk-!-margin-bottom-8">All information entered will be lost.</p>

  <div class="govuk-button-group">
    <button type="button" (click)="onSubmit()" netzPendingButton govukWarnButton>Yes, remove</button>
    <a
      govukLink
      class="govuk-link--no-visited-state"
      [routerLink]="[`../../${wizardStep.VERIFIED_WITH_COMMENTS_LIST}`]">
      Cancel
    </a>
  </div>
</div>
