@if (combinedShipDetails(); as ships) {
  <ng-template #shipDetails let-current="current" let-previous="previous">
    @if (hasHtmlDiff && showDiff()) {
      <span class="govuk-!-display-block" htmlDiff [current]="current?.name" [previous]="previous?.name"></span>
      <span
        class="govuk-!-display-block"
        htmlDiff
        [current]="current?.imoNumber"
        [previous]="previous?.imoNumber"></span>
    } @else {
      <span class="govuk-!-display-block">{{ current?.name }}</span>
      <span class="govuk-!-display-block">(IMO: {{ current?.imoNumber }})</span>
    }
  </ng-template>

  <ul class="govuk-list govuk-list--number">
    @for (ship of ships.slice(0, ships.length > 2 && !isExpanded() ? 2 : ships.length); track $index) {
      <li [class.govuk-!-font-weight-bold]="needsReview()">
        <ng-container *ngTemplateOutlet="shipDetails; context: { current: ship?.current, previous: ship?.previous }" />
      </li>
    }
  </ul>
  @if (ships.length > 2) {
    <a govukLink class="govuk-link--no-visited-state" href="#" (click)="onToggleAssociatedShips($event)">
      {{ this.isExpanded() ? 'View less' : 'View more' }}
    </a>
  }
}
