<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    @if (isSummaryDisplayed) {
      <govuk-error-summary [form]="form"></govuk-error-summary>
    }
    <form (ngSubmit)="submitPassword()" [formGroup]="form">
      <h2 class="govuk-heading-l">Reset your password</h2>
      <p class="govuk-heading-m">Enter your new password</p>
      <mrtm-password
        passwordLabel="New password"
        confirmPasswordLabel="Confirm new password"
        [includeActivationMessage]="false" />
      <button govukButton type="submit">Submit</button>
    </form>
  </div>
</div>
