<mrtm-wizard-step
  (formSubmit)="onSubmit()"
  [formGroup]="form"
  [heading]="managementProceduresMap.monitoringReportingRoles.title"
  [caption]="managementProceduresMap.title"
  [hideSubmit]="false"
  [showReturnLink]="true"
  [isTwoThirds]="true">
  <p class="govuk-body">
    Describe the main roles that are responsible for monitoring and reporting on emissions, and the main duties that the
    holders or their roles perform.
  </p>
  <div formArrayName="monitoringReportingRoles">
    @for (control of rolesCtrl.controls; track control) {
      <fieldset govukFieldset [formGroupName]="$index">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <legend legendSize="medium" govukLegend>Role {{ $index + 1 }}</legend>
          </div>
          <div class="govuk-grid-column-one-third govuk-!-text-align-right">
            @if (rolesCtrl.length > 1) {
              <button
                govukSecondaryButton
                (click)="removeManagementProceduresRole($index)"
                type="button"
                class="govuk-!-margin-bottom-0">
                Remove
              </button>
            }
          </div>
        </div>
        <div govuk-text-input formControlName="jobTitle" label="Job title"></div>
        <div govuk-textarea formControlName="mainDuties" label="Main duties" [maxLength]="500"></div>
      </fieldset>
    }
    <button (click)="addManagementProceduresRole()" govukSecondaryButton type="button">Add another</button>
  </div>
</mrtm-wizard-step>
