@if (data(); as data) {
  <h2 class="govuk-heading-m">Response details</h2>
  <dl govuk-summary-list>
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Decision</dt>
      <dd govukSummaryListRowValue [notProvided]="data.decision | titlecase"></dd>
    </div>
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Evidence of operator consent</dt>
      <dd govukSummaryListRowValue [notProvided]="data.evidence"></dd>
    </div>
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Files</dt>
      <dd govukSummaryListRowValue>
        <mrtm-summary-download-files [files]="data.files" />
      </dd>
    </div>
  </dl>
}
