<mrtm-wizard-step
  heading="Request for information"
  [formGroup]="formGroup"
  (formSubmit)="onSubmit()"
  [isTwoThirds]="true"
  [showReturnLink]="true">
  <ng-container formArrayName="questions">
    @for (control of questionsCtr.controls; track control) {
      <fieldset govukFieldset id="question-{{ $index }}">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <legend govukLegend legendSize="medium">Question {{ !$first ? $index + 1 : '' }}</legend>
          </div>
          <div class="govuk-grid-column-one-third govuk-!-text-align-right">
            @if ($count > 1) {
              <button (click)="removeQuestion($index)" govukSecondaryButton type="button">Remove</button>
            }
          </div>
        </div>
        <div
          [label]="`Question ${$index + 1}`"
          [isLabelHidden]="true"
          govuk-textarea
          [maxLength]="10000"
          [formControlName]="$index"></div>
      </fieldset>
    }
  </ng-container>
  <button (click)="addQuestion()" govukSecondaryButton type="button">Add another question</button>

  <mrtm-multiple-file-input
    [baseDownloadUrl]="downloadUrl"
    label="Upload a file (Optional)"
    listTitle="Uploaded files"
    formControlName="files"></mrtm-multiple-file-input>

  <div
    govuk-date-input
    label="Set response deadline"
    legendSize="medium"
    formControlName="deadline"
    hint="For example, 27 3 2022"></div>
</mrtm-wizard-step>
