<govuk-table
  [columns]="columns()"
  [data]="$any(data())"
  emptyTableText="No items to display"
  [rowCssClasses]="onDefineRowAdditionalStyle">
  <ng-template let-row="row" let-column="column">
    @switch (column.field) {
      @case ('fuelOriginTypeName') {
        @if (row.isSummary) {
          <strong>Total emissions</strong>
        } @else {
          {{ row[column.field] | fuelOriginTitle }}
        }
      }
      @case ('evidenceFiles') {
        @if (!row.isSummary) {
          <mrtm-summary-download-files [files]="row[column.field]" />
        }
      }
      @case ('batchNumber') {
        {{ row[column.field] }}
      }
      @case ('actions') {
        @if (editable() && !row.isSummary) {
          <ul class="govuk-summary-list__actions-list">
            <li class="govuk-summary-list__actions-list-item">
              <a govukLink routerLink="." (click)="onChange($event, row)">
                Change
                <span class="govuk-visually-hidden">{{ row?.['fuelOriginTypeName'] | fuelOriginTitle }}</span>
              </a>
            </li>
            <li class="govuk-summary-list__actions-list-item">
              <a govukLink routerLink="." class="govuk-link--no-visited-state" (click)="onDelete($event, row)">
                Remove
                <span class="govuk-visually-hidden">{{ row?.['fuelOriginTypeName'] | fuelOriginTitle }}</span>
              </a>
            </li>
          </ul>
        }
      }
      @case ('dataInputType') {
        <span class="pre-wrap" [innerHtml]="row?.[column?.field] | initialDataSource: dataSupplierName()"></span>
      }
      @default {
        {{ row[column.field] | bigNumber: 7 }}
      }
    }
  </ng-template>
</govuk-table>
