<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <netz-page-heading size="xl">
      Accessibility statement for Manage your UK Emissions Trading Scheme reporting service - Maritime
    </netz-page-heading>

    <p class="govuk-body">
      This accessibility statement applies to the Manage your UK Emissions Trading Scheme (METS) reporting service -
      Maritime website.
    </p>
    <p class="govuk-body">
      This website is run by the Department for Energy Security and Net Zero (DESNZ). We want as many people as possible
      to be able to use this website. For example, that means you should be able to:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>change colours, contrast levels and fonts</li>
      <li>zoom in up to 300% without the text spilling off the screen</li>
      <li>navigate most of the website using just a keyboard</li>
      <li>navigate most of the website using speech recognition software</li>
      <li>
        listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and
        VoiceOver)
      </li>
    </ul>
    <p class="govuk-body">We’ve also made the website text as simple as possible to understand.</p>
    <p class="govuk-body">
      <a class="govuk-link" href="https://mcmw.abilitynet.org.uk/" rel="noreferrer noopener">AbilityNet</a>
      has advice on making your device easier to use if you have a disability.
    </p>

    <h2 class="govuk-heading-l">How accessible this website is</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>There are no known accessibility issues</li>
    </ul>

    <h2 class="govuk-heading-l">Feedback and contact information</h2>
    <p class="govuk-body">
      If you need information on this website in a different format like accessible PDF, large print, easy read, audio
      recording or braille:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        Email:
        <a class="govuk-link" href="mailto:{{ supportMETSEmail }}">ukets-mets-support&#64;energysecurity.gov.uk</a>
      </li>
    </ul>

    <p class="govuk-body">We’ll review your request and get back to you within 5 days.</p>

    <h2 class="govuk-heading-l">Reporting accessibility problems with this website</h2>

    <p class="govuk-body">
      We’re always looking to improve the accessibility of this website. If you find any problems not listed on this
      page or think we’re not meeting accessibility requirements, contact:
      <a class="govuk-link" href="mailto:{{ supportMETSEmail }}">ukets-mets-support&#64;energysecurity.gov.uk</a>
    </p>

    <h2 class="govuk-heading-l">Enforcement procedure</h2>
    <p class="govuk-body govuk-!-margin-bottom-6">
      The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites
      and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not
      happy with how we respond to your complaint,
      <a href="https://www.equalityadvisoryservice.com/" class="govuk-link" rel="noreferrer noopener">
        contact the Equality Advisory and Support Service (EASS)
      </a>
      .
    </p>

    <netz-page-heading size="xl">Technical information about this website’s accessibility</netz-page-heading>
    <p class="govuk-body">
      DESNZ is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and
      Mobile Applications) (No. 2) Accessibility Regulations 2018.
    </p>

    <h2 class="govuk-heading-l">Compliance status</h2>
    <p class="govuk-body">
      This website is fully compliant with the
      <a class="govuk-link" rel="noreferrer noopener" href="https://www.w3.org/TR/WCAG21/">
        Web Content Accessibility Guidelines version 2.2
      </a>
      AA standard.
    </p>

    <h1 class="govuk-heading-xl">Preparation of this accessibility statement</h1>
    <p class="govuk-body">This statement was prepared on 19/05/2026. It was last reviewed on 19/05/2026.</p>
    <p class="govuk-body">This website was last tested on 23/04/2026. The test was carried out by Zoonou</p>
    <p class="govuk-body">
      Zoonou used
      <a class="govuk-link" rel="noreferrer noopener" href="https://www.w3.org/TR/WCAG-EM">WCAG-EM</a>
      to define the pages tested and test approach.
    </p>

    <div class="govuk-!-margin-bottom-9"></div>
    <mrtm-back-to-top />
  </div>
</div>
