<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <netz-page-heading caption="Ports">Check your answers</netz-page-heading>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="govuk-button-group float-right">
      @if (editable()) {
        <a govukLink [routerLink]="['./', wizardStep.LIST_OF_PORTS]" [queryParams]="{ change: true }" type="button">
          Change
        </a>
      }
    </div>
  </div>
</div>

<mrtm-port-calls-list-summary-template
  [warningMessages]="
    subtaskStatus() === 'NEEDS_REVIEW'
      ? [
          'The port calls and emission details have been updated due to changes made to the ‘Ships and emission details list’ subtask. Review the information for each port call, then select Confirm and continue.',
        ]
      : []
  "
  [data]="ports()"
  [editPath]="wizardStep.LIST_OF_PORTS" />

@if (canSubmit()) {
  <button (click)="onSubmit()" govukButton netzPendingButton type="button">Confirm and continue</button>
}

<div>
  @if (canSubmit()) {
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
  }
  <netz-return-to-task-or-action-page />
</div>
