<mrtm-wizard-step
  (formSubmit)="onSubmit()"
  [caption]="map.title"
  [formGroup]="formGroup"
  [heading]="map.priorYearIssuesExist.title"
  [showReturnLink]="true"
  [isTwoThirds]="true">
  <p class="govuk-hint">
    You must report any issues which the Maritime Operator cannot correct before the verification report is issued.
  </p>
  <div formControlName="existPriorYearIssues" govuk-radio>
    <govuk-radio-option [value]="true" label="Yes" />
    <govuk-radio-option [value]="false" label="No" />
  </div>
</mrtm-wizard-step>
