@if (rows(); as rows) {
  <h3 class="govuk-heading-m">{{ header() }}</h3>

  @if (totalItems() > 0) {
    @if (totalEmissionsSummary(); as totalEmissionsSummary) {
      <dl govuk-summary-list [hasBorders]="true" [hasBottomMargin]="!warningMessages()?.length">
        <div govukSummaryListRow>
          <dt govukSummaryListRowKey>Total emissions while in port (tCO2e)</dt>
          <dd govukSummaryListRowValue>{{ totalEmissionsSummary?.totalEmissions | bigNumber: 4 }}</dd>
        </div>
        <div govukSummaryListRow>
          <dt govukSummaryListRowKey>Total emissions figure for surrender (tCO2e)</dt>
          <dd govukSummaryListRowValue>{{ totalEmissionsSummary?.surrenderEmissions | bigNumber: 4 }}</dd>
        </div>
      </dl>
    }

    @for (warningMessage of warningMessages(); track i; let i = $index) {
      <govuk-warning-text
        [assistiveText]="warningMessage"
        [bottomSpacing]="i + 1 === warningMessages().length ? 7 : 0" />
    }
    @if (editable()) {
      <button type="button" govukSecondaryButton netzPendingButton (click)="onDelete(rows)">Delete</button>
    }
  }
  @if (editable()) {
    <mrtm-multi-select-table
      [columns]="columns"
      [data]="rows"
      (sort)="sort.set($event)"
      [emptyTableText]="emptyTableText()"
      description="Port calls of all ships">
      <ng-template let-row="row" let-column="column">
        <ng-container [ngTemplateOutlet]="tableContent" [ngTemplateOutletContext]="{ row, column }" />
      </ng-template>
    </mrtm-multi-select-table>
  } @else {
    <govuk-table
      [columns]="columns"
      [data]="rows"
      (sort)="sort.set($event)"
      [emptyTableText]="emptyTableText()"
      description="Port calls of all ships">
      <ng-template let-row="row" let-column="column">
        <ng-container [ngTemplateOutlet]="tableContent" [ngTemplateOutletContext]="{ row, column }" />
      </ng-template>
    </govuk-table>
  }

  @if (totalItems() > pageSize()) {
    <govuk-pagination [count]="this.totalItems()" [pageSize]="pageSize()" (currentPageChange)="onPageChange($event)" />
  }

  <ng-template let-column="column" let-row="row" #tableContent>
    @switch (column?.field) {
      @case ('shipName') {
        @if (row?.['shipName'] && row.canViewDetails) {
          <a
            govukLink
            [routerLink]="editPath() ? ['./', editPath(), row.uniqueIdentifier] : ['./', row.uniqueIdentifier]">
            {{ row[column.field] }}
          </a>
        } @else {
          {{ row?.[column?.field] }}
        }
        <br />
        <span class="govuk-hint">{{ row?.imoNumber }}</span>
      }
      @case ('arrivalTime') {
        <ng-container [ngTemplateOutlet]="detailsCell" [ngTemplateOutletContext]="{ row, column }" />
      }
      @case ('departureTime') {
        <ng-container [ngTemplateOutlet]="detailsCell" [ngTemplateOutletContext]="{ row, column }" />
      }
      @case ('status') {
        <govuk-tag [color]="row[column.field] | statusTagColor">
          {{ row?.[column?.field] | portVoyageAggregatedStatus }}
        </govuk-tag>
      }
      @default {
        {{ row?.[column?.field] | bigNumber: 7 }}
      }
    }
  </ng-template>

  <ng-template let-column="column" let-row="row" #detailsCell>
    @if (row?.[column?.field]) {
      {{ row?.['port'] | selectOptionToTitle: portSelectItems }},
      <br />
      <span class="govuk-hint">
        {{ row?.['country'] | selectOptionToTitle: countrySelectItems }},
        <br />
        {{ row?.[column?.field] | govukDate: 'date' }}
      </span>
    }
  </ng-template>
}
