<div class="govuk-!-width-two-thirds">
  <govuk-panel title="Batch variation in progress" />
  <p class="govuk-body">Your batch variation is in progress. It may take several minutes to complete.</p>
  <h3 class="govuk-heading-m">What happens next</h3>
  <p class="govuk-body">
    Once the batch variation is complete you will be able to download a full report from your list of batch variations.
  </p>
</div>
<div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
  <a govukLink routerLink="../../">Return to: Batch variations</a>
</div>
