@if (vm(); as vm) {
  <netz-page-heading caption="Management procedures">{{ vm.controlActivitiesMap.title }}</netz-page-heading>
  <mrtm-control-activities-summary-template
    [controlActivities]="vm.controlActivities"
    [controlActivitiesMap]="vm.controlActivitiesMap" />

  @if (vm?.reviewGroupDecision) {
    <mrtm-review-decision-summary-template [reviewDecision]="vm.reviewGroupDecision" />
  }

  <div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" aria-hidden="true" />
    <netz-return-to-task-or-action-page />
  </div>
}
