<h2 class="govuk-heading-m">Conditions of exemption from per voyage reporting</h2>
<dl govuk-summary-list>
  <div govukSummaryListRow>
    <dt govukSummaryListRowKey>
      Do you intend to make use of the derogation for monitoring the amount of fuel consumed on a per-voyage basis?
    </dt>
    <dd
      govukSummaryListRowValue
      htmlDiff
      [current]="exemptionConditions()?.exist | booleanToText"
      [previous]="originalExemptionConditions()?.exist | booleanToText"></dd>
    @if (isEditable()) {
      <dd govukSummaryListRowActions>
        <a govukLink [routerLink]="changeLink()" [queryParams]="queryParams()">
          Change
          <span class="govuk-visually-hidden">
            derogation for monitoring the amount of fuel consumed on a per-voyage basis
          </span>
        </a>
      </dd>
    }
  </div>
  @if (exemptionConditions()?.exist) {
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Minimum number of expected voyages during the reporting period</dt>
      <dd
        govukSummaryListRowValue
        htmlDiff
        [current]="exemptionConditions()?.minVoyages?.toString()"
        [previous]="originalExemptionConditions()?.minVoyages?.toString()"></dd>
      @if (isEditable()) {
        <dd govukSummaryListRowActions>
          <a govukLink [routerLink]="changeLink()" [queryParams]="queryParams()">
            Change
            <span class="govuk-visually-hidden">minimum number of expected voyages during the reporting period</span>
          </a>
        </dd>
      }
    </div>
  }
</dl>
