<mrtm-wizard-step
  [formGroup]="form"
  [heading]="additionalDocumentsMap.additionalDocumentsUpload.title"
  [caption]="additionalDocumentsMap.title"
  (formSubmit)="onSubmit()"
  [hideSubmit]="false"
  [showReturnLink]="true"
  [isTwoThirds]="true">
  <p class="govuk-hint">
    Add any information that you think is relevant. The file name should refer to the content of the document, like
    Task_list.doc
  </p>
  <div formControlName="exist" govuk-radio [isInline]="true">
    <govuk-radio-option [value]="true" [label]="'Yes'" />
    <govuk-radio-option [value]="false" [label]="'No'" />
  </div>

  @if (existCtrl.value) {
    <mrtm-multiple-file-input
      [baseDownloadUrl]="downloadUrl"
      label="Upload a file"
      listTitle="Uploaded files"
      formControlName="documents"></mrtm-multiple-file-input>
  }
</mrtm-wizard-step>
