<mrtm-wizard-step
  (formSubmit)="onSubmit()"
  [caption]="map.title"
  [formGroup]="formGroup"
  [heading]="map.emissionsCorrect.title"
  [showReturnLink]="true"
  [isTwoThirds]="true">
  <mrtm-aer-emissions-overview-summary-template [data]="totalEmissions()" />
  <div formControlName="emissionsCorrect" govuk-radio [legend]="map.emissionsCorrect.caption" legendSize="medium">
    <govuk-radio-option [value]="true" label="Yes" />
    <govuk-radio-option [value]="false" label="No">
      <ng-container govukConditionalContent>
        <div
          formControlName="manuallyProvidedTotalEmissions"
          govuk-text-input
          [label]="map.manuallyProvidedTotalEmissions.title"
          labelSize="normal"
          suffix="tCO2e"
          [widthClass]="'govuk-input--width-10'"></div>
        <div
          formControlName="manuallyProvidedLessVoyagesInNorthernIrelandDeduction"
          govuk-text-input
          [label]="map.manuallyProvidedLessVoyagesInNorthernIrelandDeduction.title"
          labelSize="normal"
          suffix="tCO2e"
          [widthClass]="'govuk-input--width-10'"></div>
        <div
          formControlName="manuallyProvidedSurrenderEmissions"
          govuk-text-input
          [label]="map.manuallyProvidedSurrenderEmissions.title"
          labelSize="normal"
          suffix="tCO2e"
          [widthClass]="'govuk-input--width-10'"></div>
      </ng-container>
    </govuk-radio-option>
  </div>
</mrtm-wizard-step>
