<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <govuk-panel title="Variation application sent to regulator"></govuk-panel>
  </div>
</div>
<p class="govuk-body govuk-!-width-two-thirds">Your variation application has been sent to your regulator.</p>
<h3 class="govuk-heading-m">What happens next</h3>
<div class="govuk-body govuk-!-width-two-thirds">
  The regulator will review your variation application and contact you. If you have to pay a fee you will see a new task
  on your task list.
</div>
<div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
  <a govukLink routerLink="/dashboard">Return to: Dashboard</a>
</div>
