<mrtm-wizard-step
  [formGroup]="formGroup"
  [caption]="verificationData()?.reference"
  (formSubmit)="onSubmit()"
  [isTwoThirds]="true"
  [showReturnLink]="true"
  heading="Respond to {{ key() | uppercase }}">
  <mrtm-vir-verifier-recommendation-summary-template [data]="verificationData()" />
  <ng-template #addressedDescription let-selected="selected">
    <div
      govuk-textarea
      formControlName="addressedDescription"
      [maxLength]="10000"
      labelSize="small"
      [label]="
        selected
          ? 'Tell us how this recommendation will be (or has been) addressed'
          : 'Tell us why you have chosen not to address this recommendation'
      "></div>
  </ng-template>

  <fieldset govukFieldset>
    <legend govukLegend legendSize="medium">Have you addressed this recommendation or do you plan to in future?</legend>
    <div formControlName="isAddressed" govuk-radio>
      <govuk-radio-option [value]="true" label="Yes">
        <ng-container govukConditionalContent>
          <ng-container *ngTemplateOutlet="addressedDescription; context: { selected: true }"></ng-container>
          <div
            govuk-date-input
            legendSize="small"
            label="Tell us when the recommendation will be addressed"
            hint="If already addressed, provide the date that work was completed"
            formControlName="addressedDate"></div>
        </ng-container>
      </govuk-radio-option>
      <govuk-radio-option [value]="false" label="No">
        <ng-container govukConditionalContent>
          <ng-container *ngTemplateOutlet="addressedDescription; context: { selected: false }"></ng-container>
        </ng-container>
      </govuk-radio-option>
    </div>
  </fieldset>
</mrtm-wizard-step>
