<govuk-table
  id="listOfShips"
  [columns]="columns()"
  [data]="paginatedData()"
  (sort)="sort.set($event)"
  description="Ships and emission details list"
  emptyTableText="No items to display"
  mrtmScrollablePane
  ariaLabel="Ships and emission details list">
  <ng-template let-column="column" let-row="row">
    @switch (column?.field) {
      @case ('name') {
        @if (editUrl() && row?.current?.uniqueIdentifier) {
          <a govukLink [routerLink]="[editUrl(), row?.current?.uniqueIdentifier]" [queryParams]="queryParams()">
            <span htmlDiff [current]="row?.current?.name" [previous]="row?.previous?.name"></span>
          </a>
        } @else {
          <span htmlDiff [current]="row?.current?.name" [previous]="row?.previous?.name"></span>
        }
        <br />
        <span
          class="govuk-hint"
          htmlDiff
          [current]="row?.current?.imoNumber"
          [previous]="row?.previous?.imoNumber"></span>
      }
      @case ('type') {
        <span htmlDiff [current]="row?.current?.type | shipType" [previous]="row?.previous?.type | shipType"></span>
      }
      @case ('status') {
        @if (hasHtmlDiff) {
          <govuk-tag
            [color]="row?.current?.status | statusTagColor"
            htmlDiff
            [current]="row?.current?.status | shipTaskStatus"
            [previous]="row?.previous?.status | shipTaskStatus" />
        } @else {
          <govuk-tag [color]="row?.current?.status | statusTagColor">
            {{ row?.current?.status | shipTaskStatus }}
          </govuk-tag>
        }
      }
      @case ('dataInputType') {
        <span [innerHTML]="row?.current?.[column.field] | initialDataSource: dataSupplierName()"></span>
      }
      @default {
        <span htmlDiff [current]="row?.current?.[column.field]" [previous]="row?.previous?.[column.field]"></span>
      }
    }
  </ng-template>
</govuk-table>
@if (totalItems() > pageSize()) {
  <govuk-pagination
    fragment="listOfShips"
    [count]="totalItems()"
    [pageSize]="pageSize()"
    (currentPageChange)="onPageChange($event)" />
}
