<mrtm-wizard-step
  [formGroup]="form"
  [heading]="wizardMap?.fuelConsumptions?.title"
  (formSubmit)="onSubmit()"
  [isTwoThirds]="true"
  caption="{{ wizardMap?.fuelConsumptions?.caption }} {{ ship()?.details?.name }}">
  <p class="govuk-body">
    Add each fuel type used in the annual total fuel consumption by this ship from domestic voyages, including Northern
    Ireland, and within port. Do not include EU or international voyages.
  </p>
  <ng-container formArrayName="fuelConsumptions">
    @for (consumption of fuelConsumptionsFormArray.controls; track consumption) {
      <fieldset govukFieldset [formGroupName]="$index">
        <legend govukLegend legendSize="small">Fuel type {{ $count === 1 ? '' : $index + 1 }}</legend>
        @if ($count > 1) {
          <button (click)="onRemoveFuelConsumption($index)" mrtmAddAnother govukSecondaryButton type="button">
            Remove
          </button>
        }
        <div class="govuk-grid-row">
          <div
            govuk-select
            class="govuk-grid-column-one-third"
            widthClass="govuk-!-width-one-quarter"
            formControlName="fuelOriginTypeName"
            [options]="fuelTypeSelectItems()[$index]"
            label="Fuel type"></div>
          <div
            govuk-text-input
            class="govuk-grid-column-two-thirds"
            label="Total consumption (tonnes)"
            formControlName="totalConsumption"
            widthClass="govuk-!-width-one-quarter"
            type="number"></div>
        </div>
      </fieldset>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" aria-hidden="true" />
    }
  </ng-container>
  @if (availableFuelSelectItems()?.length > fuelConsumptionsFormArray.controls.length) {
    <button govukSecondaryButton (click)="addFuelConsumption()" type="button">Add another fuel</button>
  }
</mrtm-wizard-step>
<div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" aria-hidden="true" />
  <a govukLink [routerLink]="['../../']">Return to: {{ wizardMap.title }}</a>
</div>
