<mrtm-wizard-step
  [formGroup]="form"
  heading="Changes required by the operator"
  caption="Return to operator for changes"
  (formSubmit)="onSubmit()"
  [showReturnLink]="true"
  [isTwoThirds]="true">
  <p class="govuk-hint return-to-operator-for-changes-form-hint">
    The operator will be notified by email that the report has been returned for changes.
    <br />
    Verification progress is saved so that you can continue your review when the operator resubmits the report for
    verification.
    <br />
    This will be sent to the operator when you return the report
  </p>
  <div govuk-textarea formControlName="changesRequired" [maxLength]="10000"></div>
</mrtm-wizard-step>
