<netz-page-heading caption="Delegated UK ETS responsibility">{{ mandateMap.title }}</netz-page-heading>
<mrtm-mandate-summary-template [mandate]="mandate" [operatorName]="operatorName" [mandateMap]="mandateMap" />

@if (reviewGroupDecision(); as reviewGroupDecision) {
  <mrtm-review-decision-summary-template [reviewDecision]="reviewGroupDecision" [isPermittedUser]="isRegulator()" />
}

@if (isVariationRegulator()) {
  <mrtm-variation-regulator-decision-partial-summary-template
    [variationDecisionDetails]="regulatorLedReason()"
    [showNotes]="isRegulator()" />
}

<div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" aria-hidden="true" />
  <netz-return-to-task-or-action-page />
</div>
