<mrtm-basic-ship-details-summary-template
  [shipDetails]="shipEmissions()?.details"
  [originalShipDetails]="originalShipEmissions()?.details"
  [changeLink]="changeLinks()?.['details']?.link"
  [isEditable]="isEditable()"
  [queryParams]="changeLinks()?.['details']?.queryParams" />
<mrtm-fuels-and-emission-factors-list-summary-template
  [fuelsEmissionsFactors]="shipEmissions()?.fuelsAndEmissionsFactors"
  [originalFuelsEmissionsFactors]="originalShipEmissions()?.fuelsAndEmissionsFactors"
  (delete)="onDeleteFuelsAndEmissionsFactor($event)"
  [changeLinkForm]="changeLinks()?.['fuelsAndEmissionsFactors']?.link"
  [changeLinkList]="changeLinks()?.['fuelsAndEmissionsFactorsList']?.link"
  [isEditable]="isEditable()"
  [queryParams]="changeLinks()?.['fuelsAndEmissionsFactors']?.queryParams" />
<mrtm-emissions-sources-and-fuel-types-used-list-summary-template
  [emissionSources]="shipEmissions()?.emissionsSources"
  [originalEmissionSources]="originalShipEmissions()?.emissionsSources"
  (delete)="onDeleteEmissionSource($event)"
  [changeLinkForm]="changeLinks()?.['emissionsSources']?.link"
  [changeLinkList]="changeLinks()?.['emissionsSourcesList']?.link"
  [isEditable]="isEditable()"
  [queryParams]="changeLinks()?.['emissionsSources']?.queryParams" />
<mrtm-uncertainty-level-summary-template
  [uncertaintyLevels]="shipEmissions()?.uncertaintyLevel"
  [originalUncertaintyLevels]="originalShipEmissions()?.uncertaintyLevel"
  [changeLink]="changeLinks()?.['uncertaintyLevel']?.link"
  [isEditable]="isEditable()"
  [queryParams]="changeLinks()?.['uncertaintyLevel']?.queryParams" />
<mrtm-measurements-summary-template
  [measurements]="shipEmissions()?.measurements"
  [originalMeasurements]="originalShipEmissions()?.measurements"
  [changeLink]="changeLinks()?.['measurements']?.link"
  [isEditable]="isEditable()"
  [queryParams]="changeLinks()?.['measurements']?.queryParams" />
<mrtm-carbon-capture-summary-template
  [carbonCapture]="shipEmissions()?.carbonCapture"
  [originalCarbonCapture]="originalShipEmissions()?.carbonCapture"
  [changeLink]="changeLinks()?.['carbonCapture']?.link"
  [files]="carbonCaptureFiles()"
  [originalFiles]="originalCarbonCaptureFiles()"
  [isEditable]="isEditable()"
  [queryParams]="changeLinks()?.['carbonCapture']?.queryParams" />
<mrtm-exemption-conditions-summary-template
  [exemptionConditions]="shipEmissions()?.exemptionConditions"
  [originalExemptionConditions]="originalShipEmissions()?.exemptionConditions"
  [changeLink]="changeLinks()?.['exemptionConditions']?.link"
  [isEditable]="isEditable()"
  [queryParams]="changeLinks()?.['exemptionConditions']?.queryParams" />
