<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <netz-page-heading [caption]="map.title">{{ map.fetchFromEMP.title }}</netz-page-heading>
    @if (hasShips()) {
      <govuk-warning-text
        assistiveText="If you import the ships from the Emissions Monitoring Plan (EMP), all of the data that has been entered will be replaced." />
    }
    <p class="govuk-body govuk-!-margin-bottom-9">
      Ships imported from the EMP will automatically have their date set as 'All year'. You must manually change the
      date for each ship if necessary.
    </p>

    <button govukButton netzPendingButton type="button" (click)="onFetchFromEMP()">Yes, import ships from EMP</button>
  </div>
</div>
<div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" aria-hidden="true" />
  <a [routerLink]="['../', wizardSteps.LIST_OF_SHIPS]" govukLink>Return to: {{ map.ships.title }}</a>
</div>
