@if (data(); as data) {
  <dl govuk-summary-list>
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>{{ map.exist.title }}</dt>
      <dd govukSummaryListRowValue [notProvided]="data.exist | booleanToText"></dd>
      @if (isEditable()) {
        <dd govukSummaryListRowActions>
          <a govukLink [routerLink]="[wizardStep.EXIST_FORM]" [queryParams]="queryParams()">Change</a>
        </dd>
      }
    </div>
  </dl>

  @if (data.recommendedImprovements?.length) {
    <mrtm-recommended-improvements-list-template
      [data]="data.recommendedImprovements"
      [queryParams]="queryParams()"
      [isEditable]="isEditable()"
      editLinkPrefix="" />
  }
}
