<h1 class="govuk-heading-m">Details</h1>
<dl govuk-summary-list>
  <div govukSummaryListRow>
    <dt govukSummaryListRowKey>Attached documents</dt>
    <dd govukSummaryListRowValue>
      @if (emailTemplate.documentTemplates?.length > 0) {
        @for (documentTemplate of emailTemplate.documentTemplates; track documentTemplate) {
          <a routerLink="." govukLink (click)="navigateToDocumentTemplate(documentTemplate.id)">
            View {{ documentTemplate.name }} document template
          </a>
          <br />
        }
      } @else {
        None
      }
    </dd>
  </div>
  <div govukSummaryListRow>
    <dt govukSummaryListRowKey>Event trigger</dt>
    <dd govukSummaryListRowValue>{{ emailTemplate.eventTrigger }}</dd>
  </div>
  <div govukSummaryListRow>
    <dt govukSummaryListRowKey>Workflow</dt>
    <dd govukSummaryListRowValue>{{ emailTemplate.workflow }}</dd>
  </div>
  <div govukSummaryListRow>
    <dt govukSummaryListRowKey>Last changed</dt>
    <dd govukSummaryListRowValue>{{ emailTemplate.lastUpdatedDate | govukDate }}</dd>
  </div>
</dl>
