<div govuk-summary-card [title]="cardTitle()" [class.needs-review]="emissionSource()?.needsReview">
  @if (isEditable()) {
    <ng-template #actions>
      @if (emissionSource()?.uniqueIdentifier) {
        <a
          govukLink="summaryAction"
          class="govuk-link--no-visited-state"
          [queryParams]="queryParams()"
          [routerLink]="[changeLink(), emissionSource().uniqueIdentifier]">
          Change
          <span class="govuk-visually-hidden">emission source {{ index() + 1 }}</span>
        </a>
      }
      @if (isDeletable() && emissionSource()?.uniqueIdentifier) {
        <a govukLink="summaryAction" class="govuk-link--no-visited-state" routerLink="." (click)="handleRemove($event)">
          Remove
          <span class="govuk-visually-hidden">emission source {{ index() + 1 }}</span>
        </a>
      }
    </ng-template>
  }
  <dl [hasBottomMargin]="false" govuk-summary-list>
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Emission source reference number</dt>
      <dd
        govukSummaryListRowValue
        htmlDiff
        [current]="emissionSource()?.referenceNumber"
        [previous]="originalEmissionSource()?.referenceNumber"></dd>
    </div>
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Unique emission source name</dt>
      <dd
        govukSummaryListRowValue
        htmlDiff
        [current]="emissionSource()?.name"
        [previous]="originalEmissionSource()?.name"></dd>
    </div>
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Emission source type</dt>
      <dd
        govukSummaryListRowValue
        htmlDiff
        [current]="emissionSource()?.type | selectOptionToTitle: typeOptions"
        [previous]="originalEmissionSource()?.type | selectOptionToTitle: typeOptions"></dd>
    </div>
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Emission source class</dt>
      <dd
        govukSummaryListRowValue
        htmlDiff
        [current]="emissionSource()?.sourceClass | selectOptionToTitle: sourceClassOptions"
        [previous]="originalEmissionSource()?.sourceClass | selectOptionToTitle: sourceClassOptions"></dd>
    </div>
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Potential fuel types used</dt>
      <dd govukSummaryListRowValue class="pre-wrap">
        @if (combinedFuelDetails()?.length) {
          <ul class="govuk-list govuk-list--bullet">
            @for (source of combinedFuelDetails(); track $index) {
              <li
                htmlDiff
                [current]="source?.current | fuelOriginTitle"
                [previous]="source?.previous | fuelOriginTitle"></li>
            }
          </ul>
        } @else {
          <span [notProvided]="undefined"></span>
        }
      </dd>
    </div>
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Monitoring method</dt>
      <dd govukSummaryListRowValue>
        @if (combinedSortedMonitoringMethods()?.length) {
          <ul class="govuk-list govuk-list--bullet">
            @for (monitoringMethod of combinedSortedMonitoringMethods(); track $index) {
              <li
                htmlDiff
                [current]="monitoringMethodMap[monitoringMethod?.current]?.text"
                [previous]="monitoringMethodMap[monitoringMethod?.previous]?.text"></li>
            }
          </ul>
        } @else {
          <span [notProvided]="undefined"></span>
        }
      </dd>
    </div>
  </dl>
</div>
