<div
  formControlName="type"
  govuk-radio
  legend="What is your decision on the information submitted?"
  legendSize="medium">
  <govuk-radio-option label="Accepted" value="ACCEPTED">
    <ng-container govukConditionalContent>
      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">List changes to include in the variation schedule</h3>
      <span class="govuk-caption-m govuk-!-margin-bottom-3">The operator will see these in the approval notice</span>
      <ng-container formArrayName="variationScheduleItems">
        @for (variationScheduleItems of variationScheduleItemsCtrl.controls; track variationScheduleItems) {
          <fieldset govukFieldset id="variation-schedule-items-{{ $index + 1 }}">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">
                <legend govukLegend legendSize="small">Change {{ $index + 1 }}</legend>
              </div>
              <div class="govuk-grid-column-one-third govuk-!-text-align-right">
                <button (click)="variationScheduleItemsCtrl.removeAt($index)" govukSecondaryButton type="button">
                  Remove
                </button>
              </div>
            </div>
            <div
              [label]="`Change ${$index + 1}`"
              [isLabelHidden]="true"
              govuk-textarea
              [maxLength]="10000"
              [formControlName]="$index"></div>
          </fieldset>
          @if (variationScheduleItemsCtrl?.length > 1) {
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" aria-hidden="true" />
          }
        }
        <button (click)="addAnotherVariationSchedule()" govukSecondaryButton type="button">
          {{ variationScheduleItemsCtrl?.length > 0 ? 'Add another item' : 'Add item' }}
        </button>
      </ng-container>
    </ng-container>
  </govuk-radio-option>
  <govuk-radio-option label="Rejected" value="REJECTED" />
  <govuk-radio-option label="Operator amends needed" value="OPERATOR_AMENDS_NEEDED">
    <ng-container govukConditionalContent>
      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Changes required by the operator</h3>
      <span class="govuk-caption-m govuk-!-margin-bottom-3">
        This will be sent to the operator when you return the application
      </span>
      <ng-container formArrayName="requiredChanges">
        @for (requiredChange of requiredChangesCtrl.controls; track requiredChange) {
          <fieldset [formGroupName]="$index" govukFieldset id="required-changes-{{ $index + 1 }}">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">
                <legend govukLegend legendSize="small">Required change {{ $index + 1 }}</legend>
              </div>
              <div class="govuk-grid-column-one-third govuk-!-text-align-right">
                @if (requiredChangesCtrl?.length > 1) {
                  <button (click)="requiredChangesCtrl.removeAt($index)" govukSecondaryButton type="button">
                    Remove
                  </button>
                }
              </div>
            </div>
            <div
              label="Reason"
              [isLabelHidden]="true"
              govuk-textarea
              [maxLength]="10000"
              formControlName="reason"></div>
            <mrtm-multiple-file-input
              [baseDownloadUrl]="downloadUrl"
              label="Upload a file"
              listTitle="Uploaded files"
              formControlName="files" />
          </fieldset>
          @if (requiredChangesCtrl?.length > 1) {
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" aria-hidden="true" />
          }
        }
        <button (click)="addOtherRequiredChange()" govukSecondaryButton type="button">
          Add another required change
        </button>
      </ng-container>
    </ng-container>
  </govuk-radio-option>
</div>
<div
  [maxLength]="10000"
  formControlName="notes"
  govuk-textarea
  hint="The operator cannot view this"
  label="Notes (optional)"
  labelSize="medium"></div>
