<mrtm-wizard-step
  [formGroup]="form"
  [caption]="wizardMap.title"
  [heading]="wizardMap.responsibilityDeclaration.title"
  (formSubmit)="onSubmit()"
  [showReturnLink]="true"
  submitText="Continue">
  <p class="govuk-body">
    {{ operatorName() }} declares that, in relation to each ship included in the list of ships subject to delegated
    responsibility:
  </p>
  <ol class="declaration-info-list govuk-!-margin-0" type="a">
    <li class="govuk-body govuk-!-margin-0">
      it is the ISM Company which has assumed the responsibility for the operation of the ship from its registered owner
      and who, on assuming such responsibility, has agreed to take over all duties and responsibility imposed by the ISM
      Code;
    </li>
    <li class="govuk-body govuk-!-margin-0">
      it has entered into a legally binding written agreement with the registered owner of the ship to comply with the
      obligations of the maritime operator under the Greenhouse Gas Emissions Trading Scheme Order 2020 Order (the
      Order) in respect of the ship;
    </li>
    <li class="govuk-body govuk-!-margin-0">
      it will notify the regulator in writing of any change to the agreement referred to in paragraph (b) that affects
      its responsibility for compliance with the obligations under the Order in respect of the ship within 14 days of
      the change;
    </li>
    <li class="govuk-body govuk-!-margin-0">
      it accepts full legal liability under the Order arising from any failure to comply with the obligations of the
      maritime operator under the Order in respect of the ship;
    </li>
    <li class="govuk-body">
      following a written request, it will provide to the regulator a copy of the agreement referred to in paragraph (b)
      together with any related documents required to satisfy the regulator of the existence and nature of the
      agreement.
    </li>
  </ol>

  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">List of ships subject to delegated responsibility</span>
    </summary>
    <p class="govuk-body govuk-!-margin-2">The ships subject to this declaration are:</p>
    <mrtm-mandate-registered-owners-list-summary-template
      class="govuk-!-margin-2 govuk-!-display-block"
      [registeredOwnerItems]="registeredOwners()" />
  </details>

  <div formControlName="responsibilityDeclaration" govuk-checkboxes>
    <govuk-checkbox [value]="true">
      <ng-container govukLabel>
        <strong>
          I certify that I am authorised by {{ operatorName() }} to make this declaration on its behalf and believe that
          the information provided is true.
        </strong>
      </ng-container>
    </govuk-checkbox>
  </div>
</mrtm-wizard-step>
