@if (vm(); as vm) {
  <netz-page-heading caption="Emissions monitoring">{{ vm.greenhouseGasMap.title }}</netz-page-heading>
  <mrtm-greenhouses-summary-template [greenhouseGas]="vm.greenhouseGas" [greenhouseGasMap]="vm.greenhouseGasMap" />

  @if (vm?.reviewGroupDecision) {
    <mrtm-review-decision-summary-template [reviewDecision]="vm.reviewGroupDecision" />
  }

  <div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" aria-hidden="true" />
    <netz-return-to-task-or-action-page />
  </div>
}
