<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <netz-page-heading caption="Voyages">Check your answers</netz-page-heading>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="govuk-body float-right">
      @if (editable()) {
        <a govukLink [routerLink]="['./', wizardStep.LIST_OF_VOYAGES]" [queryParams]="{ change: true }" type="button">
          Change
        </a>
      }
    </div>
  </div>
</div>

<mrtm-voyages-list-summary-template
  [warningMessages]="warningMessages()"
  [data]="voyages()"
  [editPath]="wizardStep.LIST_OF_VOYAGES" />

@if (canSubmit()) {
  <button (click)="onSubmit()" govukButton netzPendingButton type="button">Confirm and continue</button>
}

<div>
  @if (canSubmit()) {
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
  }
  <netz-return-to-task-or-action-page />
</div>
