@if (data) {
  <h2 class="govuk-heading-m">Application of carbon capture and storage technologies</h2>
  <dl [hasBorders]="true" govuk-summary-list>
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Are carbon capture and storage technologies being applied ?</dt>
      <dd govukSummaryListRowValue>{{ data.exist | booleanToText }}</dd>
      @if (isEditable) {
        <dd govukSummaryListRowActions>
          <a govukLink [routerLink]="changeLink" [queryParams]="queryParams">Change</a>
        </dd>
      }
    </div>
    @if (data?.technologies; as technologies) {
      @if (technologies.description) {
        <div govukSummaryListRow>
          <dt govukSummaryListRowKey>Describe the technology that is used for carbon capture and storage</dt>
          <dd govukSummaryListRowValue class="pre-wrap">{{ technologies.description }}</dd>
          @if (isEditable) {
            <dd govukSummaryListRowActions>
              <a govukLink [routerLink]="changeLink" [queryParams]="queryParams">Change</a>
            </dd>
          }
        </div>
      }
      <div govukSummaryListRow>
        <dt govukSummaryListRowKey>Uploaded file</dt>
        <dd govukSummaryListRowValue>
          <mrtm-summary-download-files [files]="files" />
        </dd>
        @if (isEditable) {
          <dd govukSummaryListRowActions>
            <a govukLink [routerLink]="changeLink" [queryParams]="queryParams">Change</a>
          </dd>
        }
      </div>
      @if (technologies.technologyEmissionSources) {
        <div govukSummaryListRow>
          <dt govukSummaryListRowKey>Emission source this technology is applied to</dt>
          <dd govukSummaryListRowValue>
            <ul class="govuk-list govuk-list--bullet">
              @for (source of technologies.technologyEmissionSources; track source) {
                <li>{{ source }}</li>
              }
            </ul>
          </dd>
          @if (isEditable) {
            <dd govukSummaryListRowActions>
              <a govukLink [routerLink]="changeLink" [queryParams]="queryParams">Change</a>
            </dd>
          }
        </div>
      }
    }
  </dl>
}
