<mrtm-wizard-step
  (formSubmit)="onSubmit()"
  [caption]="map.title"
  [formGroup]="formGroup"
  [heading]="map.materialMisstatementExist.title"
  [showReturnLink]="true"
  [isTwoThirds]="true">
  <div formControlName="materialMisstatementExist" govuk-radio>
    <govuk-radio-option [value]="true" label="Yes">
      <ng-container govukConditionalContent>
        <div
          govuk-textarea
          [maxLength]="10000"
          formControlName="materialMisstatementDetails"
          [label]="map.materialMisstatementDetails.title"></div>
      </ng-container>
    </govuk-radio-option>
    <govuk-radio-option [value]="false" label="No" />
  </div>
</mrtm-wizard-step>
