<div class="govuk-!-margin-bottom-7">
  @if (header()) {
    <div class="flex-space-between">
      <h3 class="govuk-heading-m">{{ header() }}</h3>
      @if (isSummary() && editable()) {
        <div class="govuk-body">
          <a govukLink [routerLink]="[editStep]" [queryParams]="{ change: true }">Change</a>
        </div>
      }
    </div>
  }

  @if (journeyType(); as journeyType) {
    <dl govuk-summary-list [hasBorders]="true" [hasBottomMargin]="false" class="govuk-!-margin-bottom-7">
      <div govukSummaryListRow>
        <dt govukSummaryListRowKey><strong>Voyage type</strong></dt>
        <dd govukSummaryListRowValue>{{ journeyType | titlecase }}</dd>
      </div>
    </dl>
  }

  <govuk-table
    [data]="data()"
    [columns]="columns"
    emptyTableText="No emissions to display"
    [description]="!journeyType() ? 'Voyages calculations' : 'Port calculations'"
    mrtmScrollablePane
    [ariaLabel]="!journeyType() ? 'Voyages calculations' : 'Port calculations'">
    <ng-template let-row="row" let-column="column">
      @switch (column.field) {
        @case ('emission') {
          <strong>
            {{
              row?.[column.field] === 'TOTAL'
                ? journeyType()
                  ? 'Total emissions from voyage'
                  : 'Total in port emissions'
                : 'Emissions figure for surrender'
            }}
          </strong>
        }
        @default {
          @if (row['emission'] === 'SURRENDER' && ['International', 'European Economic Area'].includes(journeyType())) {
            Not applicable
          } @else {
            {{ row?.[column?.field] | bigNumber: 7 }}
          }
        }
      }
    </ng-template>
  </govuk-table>
</div>
