<dl govuk-summary-list>
  <div govukSummaryListRow>
    <dt govukSummaryListRowKey>{{ additionalDocumentsMap.additionalDocumentsUpload.title }}</dt>
    <dd
      govukSummaryListRowValue
      htmlDiff
      [current]="additionalDocuments?.exist | booleanToText"
      [previous]="originalAdditionalDocuments?.exist | booleanToText"></dd>
    @if (isEditable) {
      <dd govukSummaryListRowActions>
        <a govukLink [routerLink]="[wizardStep.ADDITIONAL_DOCUMENTS_UPLOAD]" [queryParams]="queryParams">Change</a>
      </dd>
    }
  </div>
  @if (additionalDocuments?.exist) {
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Uploaded files</dt>
      <dd govukSummaryListRowValue>
        <mrtm-summary-download-files [files]="files" [originalFiles]="originalFiles" />
      </dd>
      @if (isEditable) {
        <dd govukSummaryListRowActions>
          <a govukLink [routerLink]="[wizardStep.ADDITIONAL_DOCUMENTS_UPLOAD]" [queryParams]="queryParams">Change</a>
        </dd>
      }
    </div>
  }
</dl>
