@if (data(); as data) {
  <h3 class="govuk-heading-m">Verifier's recommendation</h3>
  <dl govuk-summary-list [hasBottomMargin]="false">
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey class="govuk-!-width-one-quarter">Item code</dt>
      <dd govukSummaryListRowValue class="pre-wrap">
        {{ data?.reference }}: {{ this.virSubtaskList[data?.reference]?.title }}
      </dd>
    </div>
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey class="govuk-!-width-one-quarter">Verifier's recommendation</dt>
      <dd govukSummaryListRowValue class="pre-wrap">{{ data?.explanation }}</dd>
    </div>
    @if (data.hasOwnProperty('materialEffect')) {
      <div govukSummaryListRow>
        <dt govukSummaryListRowKey class="govuk-!-width-one-quarter">
          Does this have a material effect on the total emissions reported?
        </dt>
        <dd govukSummaryListRowValue class="pre-wrap">{{ $any(data)?.materialEffect | booleanToText }}</dd>
      </div>
    }
  </dl>
}
