<govuk-table
  [columns]="columns()"
  [data]="data()"
  description="Fuels and emissions factors"
  emptyTableText="No items to display"
  mrtmScrollablePane
  ariaLabel="Fuels and emissions factors">
  <ng-template let-column="column" let-row="row">
    @switch (column.field) {
      @case ('origin') {
        <span [notProvided]="row | fuelOriginTitle"></span>
      }
      @case ('carbonDioxide') {
        <span [notProvided]="row[column.field]"></span>
      }
      @case ('methane') {
        <span [notProvided]="row[column.field]"></span>
      }
      @case ('nitrousOxide') {
        <span [notProvided]="row[column.field]"></span>
      }
      @case ('actionLinks') {
        <div class="control-row justify-content-end">
          <a [routerLink]="[changeLink(), row?.uniqueIdentifier]" [queryParams]="queryParams()" govukLink>Change</a>

          @if (isDeletable()) {
            <a (click)="handleRemove($event, row)" routerLink="." govukLink>Remove</a>
          }
        </div>
      }
      @default {
        <span [notProvided]="row[column.field]"></span>
      }
    }
  </ng-template>
</govuk-table>
