@if (documentTemplate$ | async; as documentTemplate) {
  @if (displayErrorSummary$ | async) {
    <govuk-error-summary [form]="form" />
  }
  <netz-page-heading>Edit {{ documentTemplate.name }}</netz-page-heading>
  <h2 class="govuk-heading-m">Document template</h2>
  <p class="govuk-heading-s">Uploaded file</p>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <mrtm-file-input
      [downloadUrl]="getDownloadUrl"
      formControlName="documentFile"
      label="Upload a file"
      [showFilesizeHint]="false" />
    <button netzPendingButton govukButton type="submit">Confirm and complete</button>
  </form>
  <mrtm-document-template-details-template [documentTemplate]="documentTemplate" />
}
