<netz-page-heading [caption]="map.title">Check your answers</netz-page-heading>

<mrtm-uncorrected-non-compliances-summary-template [data]="uncorrectedNonCompliances()" [isEditable]="isEditable()" />

@if (isEditable() && !isSubtaskCompleted()) {
  <button (click)="onSubmit()" netzPendingButton govukButton type="button">Confirm and continue</button>
}

<div>
  @if (isEditable() && !isSubtaskCompleted()) {
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" aria-hidden="true" />
  }
  <netz-return-to-task-or-action-page />
</div>
