<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">This user will have permission to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>add and remove other users from your account</li>
      <li>perform all account tasks</li>
      <li>submit variations, notifications and reports</li>
    </ul>
    <p class="govuk-body">
      You should only grant these permissions to an agent, consultant or third party if authorised to do so by an
      appropriate person directly employed by the maritime operator.
    </p>
  </div>
</div>
