@if (rows(); as tableData) {
  <section>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <mrtm-filter-by-ship
          [ships]="dataSource()"
          filterByShipLabel="Find a ship"
          (filterChanged)="onFilterChanged($event)" />
      </div>
    </div>

    <h2 class="govuk-heading-m">List of ships</h2>
    @if (notCompletedWarningMessage(); as warningMessage) {
      <govuk-warning-text [assistiveText]="warningMessage" />
    }
    @if (tableData.length) {
      <button govukSecondaryButton type="button" (click)="handleRemoveShips(tableData)">Delete</button>
    }
    <mrtm-multi-select-table
      [columns]="columns"
      [data]="tableData"
      emptyTableText="No items to display"
      (sort)="sort.set($event)">
      <ng-template let-column="column" let-row="row">
        @switch (column.field) {
          @case ('name') {
            <a govukLink [routerLink]="[editUrl(), row.uniqueIdentifier]">{{ row[column.field] }}</a>
            <br />
            <span class="govuk-hint">{{ row.imoNumber }}</span>
          }
          @case ('type') {
            {{ row[column.field] | shipType }}
          }
          @case ('status') {
            <govuk-tag [color]="row[column.field] | statusTagColor">{{ row[column.field] | shipTaskStatus }}</govuk-tag>
          }
          @default {
            {{ row[column.field] }}
          }
        }
      </ng-template>
    </mrtm-multi-select-table>
    @if (totalItems() > pageSize()) {
      <govuk-pagination
        [count]="this.totalItems()"
        [pageSize]="pageSize()"
        (currentPageChange)="onPageChange($event)" />
    }
  </section>
}
