<mrtm-wizard-step
  (formSubmit)="onSubmit()"
  [caption]="map.title"
  [formGroup]="formGroup"
  [heading]="isEditMode ? map.priorYearIssueEdit.title : map.priorYearIssueAdd.title"
  [showReturnLink]="true"
  [isTwoThirds]="true">
  <p class="govuk-body">
    You should describe each issue in as much detail as possible so the regulator can understand:
  </p>
  <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
    <li>their size and nature</li>
    <li>if there is a material impact on the reported data</li>
    <li>which element of the report, the emissions monitoring plan or regulations the issue relates to</li>
  </ul>
  <div
    formControlName="explanation"
    govuk-textarea
    label="Explanation"
    labelSize="small"
    [maxLength]="10000"
    class="govuk-!-margin-bottom-8"></div>
</mrtm-wizard-step>
