@if (data(); as data) {
  <h3 class="govuk-heading-m">Batch variation details</h3>
  <dl govuk-summary-list [hasBorders]="true">
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Created by</dt>
      <dd govukSummaryListRowValue [notProvided]="data?.createdBy"></dd>
    </div>
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Date created</dt>
      <dd govukSummaryListRowValue [notProvided]="data?.createdDate | govukDate"></dd>
    </div>
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Signatory</dt>
      <dd govukSummaryListRowValue [notProvided]="data?.signatory"></dd>
    </div>
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Summary of changes</dt>
      <dd govukSummaryListRowValue [notProvided]="data?.summary"></dd>
    </div>
    @if (showEmittersSummary()) {
      <div govukSummaryListRow>
        <dt govukSummaryListRowKey>Batch variation report</dt>
        <dd govukSummaryListRowValue>
          @if (variationReportInProgress()) {
            In progress
          } @else {
            @if (data?.report) {
              <mrtm-summary-download-files [files]="[data?.report]" />
            }
          }
        </dd>
      </div>
    }
    @if (data?.documents?.length) {
      <div govukSummaryListRow>
        <dt govukSummaryListRowKey>Documents</dt>
        <dd govukSummaryListRowValue>
          <mrtm-summary-download-files [files]="data?.documents" />
        </dd>
      </div>
    }
  </dl>

  @if (showEmittersSummary() && !isNil(data.emitters)) {
    <h3 class="govuk-heading-m">Selected emitters</h3>
    <dl govuk-summary-list [hasBorders]="true">
      <div govukSummaryListRow>
        <dt govukSummaryListRowKey>Total emitters selected</dt>
        <dd govukSummaryListRowValue [notProvided]="data?.emitters"></dd>
      </div>
    </dl>
  }
}
