<netz-page-heading size="l">Are you sure you want to close this account?</netz-page-heading>
<p class="govuk-body">The account will be permanently closed.</p>
<p class="govuk-body govuk-!-width-two-thirds">
  All operator history will remain in the account, but no actions will be possible, for example starting new tasks or
  editing account information.
</p>

<div class="govuk-button-group">
  <button govukWarnButton netzPendingButton (click)="onSubmit()" type="button">Yes, close this account</button>
</div>
