<div #bannerContainer>
  @if (notificationInfo$ | async; as notificationInfo) {
    @if (notificationInfo.type === 'success') {
      <govuk-notification-banner type="success">
        @for (message of notificationInfo.successMessages; track message) {
          <h3 class="govuk-notification-banner__heading">{{ message }}</h3>
        }
      </govuk-notification-banner>
    } @else if (notificationInfo.type === 'error') {
      <govuk-error-summary [form]="notificationInfo.invalidForm" />
    }
  }
</div>
