<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">This user will have permission to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>make variations</li>
      <li>submit notifications and reports</li>
    </ul>
    <p class="govuk-body">
      They will not be able to add and remove other users from your account.
      <br />
      You should not grant these permissions to an agent, consultant or any third party.
    </p>
  </div>
</div>
