<mrtm-wizard-step
  [caption]="heading().caption"
  [heading]="heading().title"
  [formGroup]="form"
  [isTwoThirds]="true"
  (formSubmit)="onSubmit()">
  <p class="govuk-body">{{ heading().description }}</p>

  @if (form.value?.dataInputType === 'EXTERNAL_PROVIDER') {
    <div class="govuk-inset-text">Data imported from external system cannot be edited.</div>
    <p class="govuk-label govuk-label--s">Fuel name</p>
    <p
      class="govuk-body"
      [notProvided]="form.value?.fuelOriginTypeName | selectOptionToTitle: fuelTypeSelectItems()"></p>

    <p class="govuk-label govuk-label--s">Batch number</p>
    <p class="govuk-body" [notProvided]="form.value?.batchNumber"></p>

    <p class="govuk-label govuk-label--s">Total mass of eligible fuel claimed from the batch</p>
    <p class="govuk-body" [notProvided]="form.value?.smfMass"></p>

    <p class="govuk-label govuk-label--s">CO2 EF t/t</p>
    <p class="govuk-body" [notProvided]="form.value?.co2EmissionFactor"></p>
  } @else {
    <div
      govuk-select
      label="Fuel name"
      formControlName="fuelOriginTypeName"
      widthClass="govuk-!-width-one-third"
      [options]="fuelTypeSelectItems()"></div>
    <div govuk-text-input label="Batch number" formControlName="batchNumber" widthClass="govuk-!-width-one-third"></div>
    <div
      govuk-text-input
      label="Total mass of eligible fuel claimed from the batch"
      formControlName="smfMass"
      suffix="tonnes"
      widthClass="govuk-!-width-one-quarter"></div>
    <div
      govuk-text-input
      label="CO2 EF t/t"
      formControlName="co2EmissionFactor"
      widthClass="govuk-!-width-one-third"></div>
  }
  <p class="govuk-label govuk-label--s">CO2 emissions (t)</p>
  <p class="govuk-body">
    {{ isNil(form.get('co2Emissions').value) ? 'Not calculated yet' : form.get('co2Emissions').value }}
  </p>

  <h3 class="govuk-heading-m">Evidence of eligible fuel</h3>
  <p class="govuk-body govuk-!-margin-bottom-1">The batch must:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>be purchased in the scheme year, or up to three months beforehand</li>
    <li>have been delivered no later than 31 March of the year after the scheme year</li>
    <li>be identified as an eligible fuel in the guidance</li>
    <li>
      have been delivered to a point of no return before 31st March in the year following the scheme year to which the
      emissions reduction claim relates
    </li>
    <li>
      have not been used by the person making the emissions reduction claim to obtain an emissions reduction or
      financial benefit in any scheme other than the UK ETS
    </li>
    <li>have not been sold to a third party</li>
  </ul>

  <mrtm-multiple-file-input
    [baseDownloadUrl]="downloadUrl()"
    label="Upload evidence"
    headerSize="s"
    listTitle="Uploaded files"
    formControlName="evidenceFiles" />
</mrtm-wizard-step>

<div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
  <a govukLink [routerLink]="['../']">Return to: {{ wizardMap.smfDetails.title }}</a>
</div>
