<mrtm-wizard-step
  (formSubmit)="onSubmit()"
  [caption]="map.caption"
  [formGroup]="formGroup"
  [heading]="map.selectedRequests.title"
  [showReturnLink]="true"
  [isTwoThirds]="true">
  <p class="govuk-hint">Select the relevant item to which this non-compliance applies.</p>

  <ng-container formArrayName="selectedRequests">
    @for (requestId of selectedRequestsFormArray.controls; track requestId) {
      <div class="control-row align-items-end">
        <div
          class="flex-grow-1 govuk-!-margin-bottom-0"
          [formControlName]="$index"
          govuk-select
          [options]="availableRequestsOptions()?.[$index]"
          label="Task {{ $index + 1 }}"
          labelSize="normal"
          widthClass="govuk-!-width-full"></div>
        <button govukSecondaryButton type="button" class="govuk-!-margin-bottom-0" (click)="onRemove($index)">
          Remove
        </button>
      </div>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" aria-hidden="true" />
    }
  </ng-container>

  <div class="govuk-!-margin-bottom-9">
    @if (showAddButton()) {
      <button govukSecondaryButton type="button" class="govuk-!-margin-bottom-0" (click)="onAdd()">
        {{ selectedRequests()?.length ? 'Add another item' : 'Add an item' }}
      </button>
    }
  </div>
</mrtm-wizard-step>
