<div class="govuk-grid-row">
  <netz-page-heading caption="Emissions monitoring" class="govuk-grid-column-three-quarters">
    List of ships and calculation of maritime emissions
  </netz-page-heading>
</div>
<mrtm-list-of-ships-summary-template [data]="ships" editUrl="./ships" />

@if (reviewGroupDecision(); as reviewGroupDecision) {
  <mrtm-review-decision-summary-template [reviewDecision]="reviewGroupDecision" [isPermittedUser]="isRegulator()" />
}

@if (isVariationRegulator()) {
  <mrtm-variation-regulator-decision-partial-summary-template
    [variationDecisionDetails]="regulatorLedReason()"
    [showNotes]="isRegulator()" />
}

<div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" aria-hidden="true" />
  <netz-return-to-task-or-action-page />
</div>
