@if (data(); as data) {
  <dl govuk-summary-list [hasBottomMargin]="false" class="govuk-!-margin-bottom-7">
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>{{ map.exist.title }}</dt>
      <dd govukSummaryListRowValue [notProvided]="data.exist | booleanToText"></dd>
      @if (isEditable()) {
        <dd govukSummaryListRowActions>
          <a govukLink [routerLink]="[wizardStep.EXIST_FORM]" [queryParams]="queryParams()">
            Change
            <span class="govuk-visually-hidden">
              whether there have been any non-compliances with the maritime monitoring and reporting requirements in the
              UK ETS Order
            </span>
          </a>
        </dd>
      }
    </div>
  </dl>

  @if (data.uncorrectedNonCompliances?.length) {
    <mrtm-uncorrected-items-list-template
      [data]="data.uncorrectedNonCompliances"
      [description]="map.list.title"
      [queryParams]="queryParams()"
      [isEditable]="isEditable()"
      editLinkPrefix="" />
  }
}
