<dl govuk-summary-list>
  <div govukSummaryListRow>
    <dt govukSummaryListRowKey>Description of method to estimate fuel consumption</dt>
    <dd
      govukSummaryListRowValue
      class="pre-wrap"
      htmlDiff
      [current]="dataGaps()?.fuelConsumptionEstimationMethod"
      [previous]="originalDataGaps()?.fuelConsumptionEstimationMethod"></dd>
    @if (isEditable()) {
      <dd govukSummaryListRowActions>
        <a govukLink [routerLink]="[wizardStep().DATA_GAPS_METHOD]" [queryParams]="queryParams()">
          Change
          <span class="govuk-visually-hidden">description of method to estimate fuel consumption</span>
        </a>
      </dd>
    }
  </div>
  <div govukSummaryListRow>
    <dt govukSummaryListRowKey>Name of person or position responsible for this procedure</dt>
    <dd
      govukSummaryListRowValue
      htmlDiff
      [current]="dataGaps()?.responsiblePersonOrPosition"
      [previous]="originalDataGaps()?.responsiblePersonOrPosition"></dd>
    @if (isEditable()) {
      <dd govukSummaryListRowActions>
        <a govukLink [routerLink]="[wizardStep().DATA_GAPS_METHOD]" [queryParams]="queryParams()">
          Change
          <span class="govuk-visually-hidden">name of person or position responsible for this procedure</span>
        </a>
      </dd>
    }
  </div>
  <div govukSummaryListRow>
    <dt govukSummaryListRowKey>Formulae used</dt>
    <dd
      govukSummaryListRowValue
      class="pre-wrap"
      htmlDiff
      [current]="dataGaps()?.formulaeUsed"
      [previous]="originalDataGaps()?.formulaeUsed"></dd>
    @if (isEditable()) {
      <dd govukSummaryListRowActions>
        <a govukLink [routerLink]="[wizardStep().DATA_GAPS_METHOD]" [queryParams]="queryParams()">
          Change
          <span class="govuk-visually-hidden">formulae used</span>
        </a>
      </dd>
    }
  </div>
  <div govukSummaryListRow>
    <dt govukSummaryListRowKey>Data sources</dt>
    <dd
      govukSummaryListRowValue
      class="pre-wrap"
      htmlDiff
      [current]="dataGaps()?.dataSources"
      [previous]="originalDataGaps()?.dataSources"></dd>
    @if (isEditable()) {
      <dd govukSummaryListRowActions>
        <a govukLink [routerLink]="[wizardStep().DATA_GAPS_METHOD]" [queryParams]="queryParams()">
          Change
          <span class="govuk-visually-hidden">data sources</span>
        </a>
      </dd>
    }
  </div>
  <div govukSummaryListRow>
    <dt govukSummaryListRowKey>Location where records are kept</dt>
    <dd
      govukSummaryListRowValue
      htmlDiff
      [current]="dataGaps()?.recordsLocation"
      [previous]="originalDataGaps()?.recordsLocation"></dd>
    @if (isEditable()) {
      <dd govukSummaryListRowActions>
        <a govukLink [routerLink]="[wizardStep().DATA_GAPS_METHOD]" [queryParams]="queryParams()">
          Change
          <span class="govuk-visually-hidden">location where records are kept</span>
        </a>
      </dd>
    }
  </div>
  <div govukSummaryListRow>
    <dt govukSummaryListRowKey>Name of IT system used</dt>
    <dd
      govukSummaryListRowValue
      htmlDiff
      [current]="dataGaps()?.itSystemUsed"
      [previous]="originalDataGaps()?.itSystemUsed"></dd>
    @if (isEditable()) {
      <dd govukSummaryListRowActions>
        <a govukLink [routerLink]="[wizardStep().DATA_GAPS_METHOD]" [queryParams]="{ change: true }">
          Change
          <span class="govuk-visually-hidden">name of IT system used</span>
        </a>
      </dd>
    }
  </div>
</dl>
