<div class="govuk-!-width-two-thirds">
  <govuk-panel title="You have appointed a new data supplier">{{ dataSupplierName() }}</govuk-panel>
  <h3 class="govuk-heading-m">What happens next</h3>
  <p class="govuk-body">
    Your appointed data supplier will be able to Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
    justo diam, finibus sit amet sagittis at, egestas non felis. Phasellus varius nisi non suscipit pretium. Morbi massa
    sapien, laoreet euismod risus tincidunt, tempus faucibus libero. Duis massa nulla, dictum euismod tempus vel,
    facilisis vel lacus. Vivamus quis ultrices quam.
  </p>
</div>
<a routerLink="../../" fragment="users" govukLink>Return to: Users, contacts and verifiers page</a>
