<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <govuk-panel title="You have appointed a new data supplier">{{ dataSupplierName() }}</govuk-panel>
    <h3 class="govuk-heading-m">What happens next</h3>
    <p class="govuk-body">
      Once data is available from the supplier, you will be able to import it in the relevant workflows.
    </p>
  </div>
</div>
<div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" aria-hidden="true" />
  <a routerLink="../../" fragment="users" govukLink>Return to: Users, contacts and verifiers page</a>
</div>
