<netz-page-heading [caption]="mandateMap.title">Check your answers</netz-page-heading>
<mrtm-mandate-summary-template
  [mandate]="mandate"
  [originalMandate]="originalMandate"
  [operatorName]="operatorName"
  [originalOperatorName]="originalOperatorName"
  [mandateMap]="mandateMap" />
<mrtm-variation-regulator-decision-partial-summary-template [variationDecisionDetails]="variationDecisionDetails" />
<div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
  <netz-return-to-task-or-action-page />
</div>
