<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <govuk-panel title="Data supplier {{ dataSupplierName() }} has been added" />
    <h3 class="govuk-heading-m">What happens next</h3>
    <p class="govuk-body">A unique “Client ID” has been generated and saved to the “Manage data suppliers” list.</p>
    <p class="govuk-body">
      As a regulator with the permission to manage data suppliers profiles, copy and send the “Client ID” to the
      relevant supplier.
    </p>
  </div>
</div>
<div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" aria-hidden="true" />
  <a govukLink [routerLink]="['../../']">Return to: Manage data suppliers</a>
</div>
