<mrtm-notification-banner />
<mrtm-xml-error-summary [xmlErrors]="validationErrors()" [formatNestedErrorDetails]="formatValidationErrorDetails" />
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <netz-page-heading [caption]="wizardMap.title">{{ wizardMap.registeredOwners.title }}</netz-page-heading>
  </div>
  <div class="govuk-grid-column-one-half">
    <div class="govuk-button-group float-right">
      <a [routerLink]="[wizardStep.REGISTERED_OWNERS_FORM_ADD]" govukButton>Add registered owner</a>
      <a govukLink govukSecondaryButton [routerLink]="['../', wizardStep.UPLOAD_OWNERS]">Upload file</a>
    </div>
  </div>
</div>

@if (!allShipsAssociated()) {
  <govuk-warning-text assistiveText="">
    The list of ships includes ships where the nature of responsibility lies with the ISM company, and no registered
    owner has been added. All relevant ships must be associated with a registered owner.
  </govuk-warning-text>
}

@if (hasNeedsReviewItems()) {
  <govuk-warning-text assistiveText="">
    The highlighted registered owners have been updated due to changes to the list of ships. Review the information for
    each highlighted registered owner, then select Continue.
  </govuk-warning-text>
}

<mrtm-mandate-registered-owners-table
  [isEditable]="isEditable()"
  [registeredOwnerItems]="data()"
  (edit)="onEdit($event)"
  (delete)="onDelete($event)" />

@if (isEditable() && data()?.length) {
  <button govukButton type="button" (click)="onSubmit()">Continue</button>
}

<div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
  <netz-return-to-task-or-action-page />
</div>
