@if (data(); as data) {
  <dl govuk-summary-list [hasBottomMargin]="false" class="govuk-!-margin-bottom-7">
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>{{ map.methodRequired.title }}</dt>
      <dd govukSummaryListRowValue [notProvided]="data.methodRequired | booleanToText"></dd>
      @if (isEditable()) {
        <dd govukSummaryListRowActions>
          <a govukLink [routerLink]="[wizardStep.METHOD_REQUIRED]" [queryParams]="queryParams()">
            Change
            <span class="govuk-visually-hidden">whether a data gap method is required during the reporting year</span>
          </a>
        </dd>
      }
    </div>

    @if (data.methodRequired) {
      <div govukSummaryListRow>
        <dt govukSummaryListRowKey>{{ map.methodApproved.title }}</dt>
        <dd govukSummaryListRowValue [notProvided]="data.methodApproved | booleanToText"></dd>
        @if (isEditable()) {
          <dd govukSummaryListRowActions>
            <a govukLink [routerLink]="[wizardStep.METHOD_APPROVED]" [queryParams]="queryParams()">
              Change
              <span class="govuk-visually-hidden">
                whether the data gap method has already been approved by the regulator
              </span>
            </a>
          </dd>
        }
      </div>
    }

    @if (data.methodRequired && data.methodApproved === false) {
      <div govukSummaryListRow>
        <dt govukSummaryListRowKey>{{ map.methodConservative.title }}</dt>
        <dd govukSummaryListRowValue [notProvided]="data.methodConservative | booleanToText"></dd>
        @if (isEditable()) {
          <dd govukSummaryListRowActions>
            <a govukLink [routerLink]="[wizardStep.METHOD_CONSERVATIVE]" [queryParams]="queryParams()">
              Change
              <span class="govuk-visually-hidden">whether the method used was conservative</span>
            </a>
          </dd>
        }
      </div>
      @if (data.methodConservative === false) {
        <div govukSummaryListRow>
          <dt govukSummaryListRowKey>{{ map.noConservativeMethodDetails.title }}</dt>
          <dd govukSummaryListRowValue class="pre-wrap" [notProvided]="data.noConservativeMethodDetails"></dd>
          @if (isEditable()) {
            <dd govukSummaryListRowActions>
              <a govukLink [routerLink]="[wizardStep.METHOD_CONSERVATIVE]" [queryParams]="queryParams()">
                Change
                <span class="govuk-visually-hidden">details on the method used</span>
              </a>
            </dd>
          }
        </div>
      }
      <div govukSummaryListRow>
        <dt govukSummaryListRowKey>{{ map.materialMisstatementExist.title }}</dt>
        <dd govukSummaryListRowValue [notProvided]="data.materialMisstatementExist | booleanToText"></dd>
        @if (isEditable()) {
          <dd govukSummaryListRowActions>
            <a govukLink [routerLink]="[wizardStep.MATERIAL_MISSTATEMENT]" [queryParams]="queryParams()">
              Change
              <span class="govuk-visually-hidden">whether the method lead to a material misstatement</span>
            </a>
          </dd>
        }
      </div>
      @if (data.materialMisstatementExist) {
        <div govukSummaryListRow>
          <dt govukSummaryListRowKey>{{ map.materialMisstatementDetails.title }}</dt>
          <dd govukSummaryListRowValue class="pre-wrap" [notProvided]="data.materialMisstatementDetails"></dd>
          @if (isEditable()) {
            <dd govukSummaryListRowActions>
              <a govukLink [routerLink]="[wizardStep.MATERIAL_MISSTATEMENT]" [queryParams]="queryParams()">
                Change
                <span class="govuk-visually-hidden">details on the method leading to a material misstatement</span>
              </a>
            </dd>
          }
        </div>
      }
    }
  </dl>
}
