<netz-page-heading [caption]="maritimeEmissionsMap.title">Check your answers</netz-page-heading>

<mrtm-doe-maritime-emissions-summary-template
  [data]="maritimeEmissions()"
  [files]="files()"
  [wizardStep]="wizardStep"
  [map]="maritimeEmissionsMap"
  [doeTotalMaritimeEmissionsMap]="doeTotalMaritimeEmissionsMap"
  [isEditable]="isEditable()" />

<div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" aria-hidden="true" />
  <netz-return-to-task-or-action-page />
</div>
