<ul class="govuk-list">
  @for (account of accounts(); track account.id) {
    <li class="search-results-list_item">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
          <a [routerLink]="[account.id]" govukLink>{{ account.name }}</a>
          <div>{{ account.businessId }}</div>
        </div>
        <div class="govuk-grid-column-one-quarter govuk-!-text-align-right">
          <govuk-tag [color]="account.status | operatorAccountsStatusColor">{{ account.status | titlecase }}</govuk-tag>
        </div>
      </div>
    </li>
  }
</ul>
