<div
  formControlName="type"
  govuk-radio
  legend="What is your decision for the information submitted?"
  legendSize="medium">
  <govuk-radio-option value="ACCEPTED" label="Accepted"></govuk-radio-option>
  <govuk-radio-option value="OPERATOR_AMENDS_NEEDED" label="Operator amends needed">
    <ng-container govukConditionalContent>
      <h2 class="govuk-heading-m">Changes required by the operator</h2>
      <ng-container formArrayName="requiredChanges">
        @for (requiredChange of requiredChangesCtrl.controls; track requiredChange; let i = $index) {
          <fieldset [formGroupName]="i" govukFieldset id="required-changes-{{ i + 1 }}">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">
                <legend govukLegend legendSize="small">Required change {{ i + 1 }}</legend>
              </div>
              <div class="govuk-grid-column-one-third govuk-!-text-align-right">
                @if (requiredChangesCtrl?.length > 1) {
                  <button (click)="requiredChangesCtrl.removeAt(i)" govukSecondaryButton type="button">Remove</button>
                }
              </div>
            </div>
            <div govuk-textarea [maxLength]="10000" formControlName="reason"></div>
            <mrtm-multiple-file-input
              [baseDownloadUrl]="downloadUrl"
              label="Upload a file (Optional)"
              listTitle="Uploaded files"
              formControlName="files"></mrtm-multiple-file-input>
          </fieldset>
          @if (requiredChangesCtrl?.length > 1) {
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
          }
        }
        <button (click)="addOtherRequiredChange()" govukSecondaryButton type="button">
          Add another required change
        </button>
      </ng-container>
    </ng-container>
  </govuk-radio-option>
</div>
<div
  formControlName="notes"
  govuk-textarea
  label="Notes (optional)"
  hint="The operator cannot view this"
  labelSize="medium"
  [maxLength]="10000"></div>
