@if (rows(); as rows) {
  <h3 class="govuk-heading-m">{{ header() }}</h3>
  @if (editable()) {
    @if (totalItems() > 0) {
      <button type="button" govukSecondaryButton netzPendingButton (click)="onDelete(rows)">Delete</button>
    }

    <mrtm-multi-select-table
      [columns]="columns"
      [data]="rows"
      [description]="header()"
      emptyTableText="No items to display"
      (sort)="sort.set($event)"
      mrtmScrollablePane
      [ariaLabel]="header()">
      <ng-template let-row="row" let-column="column">
        <ng-container [ngTemplateOutlet]="tableContent" [ngTemplateOutletContext]="{ row, column }" />
      </ng-template>
    </mrtm-multi-select-table>
  } @else {
    <govuk-table
      id="aggregated-data"
      [columns]="columns"
      [data]="rows"
      (sort)="sort.set($event)"
      emptyTableText="No items to display"
      [description]="header()"
      mrtmScrollablePane
      [ariaLabel]="header()">
      <ng-template let-row="row" let-column="column">
        <ng-container [ngTemplateOutlet]="tableContent" [ngTemplateOutletContext]="{ row, column }" />
      </ng-template>
    </govuk-table>
  }
  @if (totalItems() > pageSize()) {
    <govuk-pagination
      fragment="aggregated-data"
      [count]="totalItems()"
      [pageSize]="pageSize()"
      (currentPageChange)="onPageChange($event)" />
  }
}

<ng-template let-column="column" let-row="row" #tableContent>
  @switch (column?.field) {
    @case ('shipName') {
      @if (row?.['shipName'] && row.canViewDetails) {
        <a
          govukLink
          [routerLink]="editPath() ? ['./', editPath(), row.uniqueIdentifier] : ['./', row.uniqueIdentifier]">
          {{ row[column.field] }}
        </a>
      } @else {
        {{ row?.[column?.field] }}
      }
      <br />
      <span class="govuk-hint">{{ row?.imoNumber }}</span>
    }
    @case ('totalShipEmissions') {
      <div class="govuk-!-width-full govuk-!-text-align-right">
        {{ (row?.[column?.field] | bigNumber: 4) ?? 0 }}
      </div>
    }
    @case ('surrenderEmissions') {
      <div class="govuk-!-width-full govuk-!-text-align-right">
        {{ (row?.[column?.field] | bigNumber: 4) ?? 0 }}
      </div>
    }
    @case ('status') {
      <govuk-tag [color]="row[column.field] | statusTagColor">
        {{ row?.[column?.field] | portVoyageAggregatedStatus }}
      </govuk-tag>
    }
    @case ('dataInputType') {
      <span class="pre-wrap" [innerHtml]="row?.[column?.field] | initialDataSource: dataSupplierName()"></span>
    }
    @default {
      {{ row?.[column?.field] }}
    }
  }
</ng-template>
