@if (data(); as data) {
  <h3 class="govuk-heading-m">Total amount of each fuel type consumed</h3>
  @for (fuelConsumption of data; track index; let index = $index) {
    <dl govuk-summary-list>
      <h4 class="govuk-heading-s">Fuel type {{ data?.length === 1 ? '' : index + 1 }}</h4>
      <div govukSummaryListRow>
        <dt govukSummaryListRowKey>Fuel type</dt>
        <dd govukSummaryListRowValue [notProvided]="fuelConsumption?.fuelOriginTypeName | fuelOriginTitle"></dd>
        @if (editable()) {
          <dd govukSummaryListRowActions>
            <a govukLink [routerLink]="[changeLink()]" [queryParams]="queryParams()">Change</a>
          </dd>
        }
      </div>
      <div govukSummaryListRow>
        <dt govukSummaryListRowKey>Total consumption (tonnes)</dt>
        <dd govukSummaryListRowValue [notProvided]="fuelConsumption?.totalConsumption | bigNumber: 5"></dd>
        @if (editable()) {
          <dd govukSummaryListRowActions>
            <a govukLink [routerLink]="[changeLink()]" [queryParams]="queryParams()">Change</a>
          </dd>
        }
      </div>
    </dl>
  }
}
