<mrtm-wizard-step
  (formSubmit)="onSubmit()"
  [caption]="shipName | shipStepTitleCustom: 6"
  [formGroup]="formGroup"
  [heading]="taskMap.carbonCapture.title"
  [showReturnLink]="false"
  [isTwoThirds]="true">
  <ng-container formGroupName="carbonCapture">
    <div
      formControlName="exist"
      govuk-radio
      [isInline]="true"
      legendSize="small"
      legend="Are carbon capture and storage technologies being applied?">
      <govuk-radio-option [value]="true" label="Yes" />
      <govuk-radio-option [value]="false" label="No" />
    </div>

    @if (existCtrl.value) {
      <ng-container formGroupName="technologies">
        <div
          formControlName="description"
          govuk-textarea
          label="Describe the technology that is used for carbon capture and storage"
          [maxLength]="10000"></div>
        <mrtm-multiple-file-input
          [baseDownloadUrl]="downloadUrl"
          label="Upload any relevant information about the application and technology used (optional)"
          hint="For example technical specifications or diagrams."
          listTitle="Uploaded files"
          formControlName="files"
          headerSize="s" />
        <div
          formControlName="technologyEmissionSources"
          govuk-checkboxes
          label="Select the emission sources this technology is applied to"
          labelSize="normal">
          @for (name of emissionSourcesNames; track name) {
            <govuk-checkbox [value]="name" [label]="name" />
          }
        </div>
      </ng-container>
    }
  </ng-container>
</mrtm-wizard-step>
<mrtm-return-to-ships-list-table />
