<netz-page-heading [caption]="map.caption">Check your answers</netz-page-heading>

<mrtm-non-compliance-civil-penalty-upload-summary-template
  [data]="nonComplianceCivilPenaltyUpload()"
  [files]="files()"
  [isEditable]="isEditable()" />

@if (isEditable() && !isSubtaskCompleted()) {
  <button (click)="onSubmit()" netzPendingButton govukButton type="button">Confirm and complete</button>
}

<div>
  @if (isEditable() && !isSubtaskCompleted()) {
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" aria-hidden="true" />
  }
  <netz-return-to-task-or-action-page />
</div>
