<form (ngSubmit)="onSave()" [formGroup]="form" name="site-contacts">
  <govuk-table [columns]="columns" [data]="tableData$ | async" formArrayName="siteContacts">
    <ng-template let-column="column" let-index="index" let-row="row">
      <ng-container [formGroupName]="index">
        @switch (column.field) {
          @case ('user') {
            @if (isEditable$ | async) {
              <div
                [options]="assigneeOptions$ | async"
                formControlName="userId"
                govuk-select
                widthClass="govuk-!-width-full"
                (change)="handleChange(row.accountName)"></div>
            } @else {
              {{ row[column.field] ? (row[column.field] | userFullName) : 'Unassigned' }}
            }
          }
          @default {
            {{ row[column.field] }}
          }
        }
      </ng-container>
    </ng-template>
  </govuk-table>

  @if ((count$ | async) > pageSize) {
    <govuk-pagination (currentPageChange)="page$.next($event)" [count]="count$ | async" [pageSize]="pageSize" />
  }

  @if (isEditable$ | async) {
    <div class="govuk-button-group">
      <button netzPendingButton govukButton type="submit" class="govuk-!-margin-top-3">Save</button>
      <button govukSecondaryButton type="button" (click)="refresh$.next()">Discard changes</button>
    </div>
  }
</form>
