<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <netz-page-heading size="xl">Legislation</netz-page-heading>

    <p class="govuk-body">Throughout the reporting service, references are made to key pieces of legislation.</p>

    <h2 class="govuk-heading-l">Key legislation for the UK ETS</h2>
    <p class="govuk-body">Definitions of the key pieces of legislation are:</p>

    <h3 class="govuk-heading-m">The Greenhouse Gas Emissions Trading Scheme Order</h3>
    <p class="govuk-body">
      The Greenhouse Gas Emissions Trading Scheme Order 2020 (SI 2020 No.1265) (the Order) has been amended by the
      following Orders:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Greenhouse Gas Emissions Trading Scheme (Amendment) Order 2020 (SI 2020 No.1557)</li>
      <li>Greenhouse Gas Emissions Trading Scheme (Amendment) Order 2021 (SI 2021 No.1455)</li>
      <li>Greenhouse Gas Emissions Trading Scheme (Amendment) Order 2022 (SI 2022 No. 454)</li>
      <li>Greenhouse Gas Emissions Trading Scheme (Amendment) (No.2) Order 2022 (SI 2022 No. 1173)</li>
    </ul>
    <p class="govuk-body">
      Legislation relating to the expansion of the UK ETS to include maritime is expected in an amendment to the
      Greenhouse Gas Emissions Trading Scheme Order during 2025.
    </p>

    <h3 class="govuk-heading-m">The Monitoring and Reporting Regulation</h3>
    <p class="govuk-body">
      The Monitoring and Reporting Regulation (MRR)(Commission Implementing Regulation (EU) 2018/2066 of 19 December
      2018) as given effect by the Order and subject to modifications in Schedule 4 to the Order.
    </p>
    <p class="govuk-body">
      This is an EU Regulation which was given effect by the Order for the purposes of the UK ETS. The Order (including
      the amending Orders previously listed) modifies the MRR so that it is appropriate for the UK ETS.
    </p>

    <h3 class="govuk-heading-m">The Verification Regulation</h3>
    <p class="govuk-body">
      The Verification Regulation (Commission Implementing Regulation (EU) 2018/2067 of 19 December 2018) as given
      effect by the Order, and subject to modifications in Schedule 5 to the Order (Verification Regulation).
    </p>
    <p class="govuk-body">
      This is an EU Regulation which was given effect by the Order for the purposes of the UK ETS. The Order (including
      the previously mentioned amending Orders) modifies the Verification Regulation so that it is appropriate for the
      UK ETS.
    </p>

    <h3 class="govuk-heading-m">The Free Allocation Regulation</h3>
    <p class="govuk-body">
      The Free Allocation Regulation (Commission Delegated Regulation (EU) 2019/331 of 19 December 2018) as it has
      effect in domestic law (FAR).
    </p>
    <p class="govuk-body">
      This is an EU Regulation which is EU retained law. This means that it applies in the UK after EU Exit.
    </p>
    <p class="govuk-body">The Regulation is amended by:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Schedule 1 to the Greenhouse Gas Emissions Trading Scheme (Amendment) Order 2020</li>
      <li>the Greenhouse Gas Emissions Trading Scheme (Amendment) Order 2021</li>
      <li>the Greenhouse Gas Emissions Trading Scheme (Amendment) (No.2) Order 2022</li>
    </ul>

    <h3 class="govuk-heading-m">The Activity Level Changes Regulation</h3>
    <p class="govuk-body">
      The Activity Level Changes Regulation (Commission Implementing Regulation (EU) 2019/1842 of 31 October 2019) as it
      has effect in domestic law (ALCR).
    </p>
    <p class="govuk-body">
      This is an EU Regulation which is EU retained law. This means that it applies in the UK after EU Exit.
    </p>
    <p class="govuk-body">The Regulation is amended by:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Schedule 2 to the Greenhouse Gas Emissions Trading Scheme (Amendment) Order 2020</li>
      <li>the Greenhouse Gas Emissions Trading Scheme (Amendment) (No.2) Order 2022</li>
    </ul>

    <h3 class="govuk-heading-m">
      Key legislation for the Carbon Offsetting and Reduction Scheme for International Aviation (CORSIA)
    </h3>
    <p class="govuk-body">
      The Air Navigation (Carbon Offsetting and Reduction Scheme for International Aviation) Order 2021 (the air
      navigation order)
    </p>
    <p class="govuk-body">
      See also the International Civil Aviation Organization (ICAO) Standards and Recommended Practices (SARPs), Annex
      16 Volume IV.
    </p>

    <h3 class="govuk-heading-m">Your rights</h3>
    <p class="govuk-body">
      You have the right to request information about how your personal data are processed, and to request a copy of
      that personal data.
    </p>
    <p class="govuk-body">
      You have the right to request that any inaccuracies in your personal data are rectified without delay.
    </p>
    <p class="govuk-body">
      You have the right to request that any incomplete personal data are completed, including by means of a
      supplementary statement.
    </p>
    <p class="govuk-body">
      You have the right to request that your personal data are erased if there is no longer a justification for them to
      be processed.
    </p>
    <p class="govuk-body">
      You have the right in certain circumstances (for example, where accuracy is contested) to request that the
      processing of your personal data is restricted.
    </p>
    <p class="govuk-body">
      You have the right to object to the processing of your personal data where it is processed for direct marketing
      purposes.
    </p>

    <h2 class="govuk-heading-l">Modifications and amendments</h2>
    <p class="govuk-body">
      Further modifications and amendments are expected to all pieces of legislation in the future.
    </p>
    <p class="govuk-body">
      Where references to the legislation are made within the reporting service, this includes all modifications and
      amendments made to relevant legislation.
    </p>

    <mrtm-back-to-top />
  </div>
</div>
