@if (!isEmailSent()) {
  <mrtm-wizard-step
    (formSubmit)="onSubmit()"
    [formGroup]="form"
    heading="Reset my password"
    submitText="Confirm"
    [isTwoThirds]="true">
    <p class="govuk-body">We'll send you a link to reset your password. The link will expire after 20 minutes.</p>
    <div
      autoComplete="submit-email"
      formControlName="email"
      govuk-text-input
      inputType="email"
      label="Email address"></div>
  </mrtm-wizard-step>
} @else {
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <mrtm-email-sent [email]="form.get('email').value" (retry)="retryResetPassword()" />
    </div>
  </div>
}
